<!-- 弹框模板 -->
<div class="popup_ exportAllData">
    <div class="popup_content">
        <form class="popup_form" role="form" ng-submit="export_config()">
            <div class="popup_form_content">
                <div class="popup_scroll" isScroll="false">
                    <div class="popup_line">
                        <label class="form-label required">选择时间:</label>
                        <div class="col-xs-8">
                            <input class="form-control dateIcon"  id="derTime" ng-model="derTime" placeholder="请选择导出时间段" type="text" required  autocomplete="off" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="popup_btn">
                <button class="btn cancel" ng-click="closePop()" type="button">取消</button>
                <button class="btn sure" type="submit">确定</button>
            </div>
        </form>
    </div>
</div>
<div class="new_common_title {{ismenuOoen?'':'isclosed_'}}">
    <div class="back_icon icon_return" ng-click="toStatistics()">授课分析详情</div>
</div>
<div class="common_body new_summary_body">
     <div class="tab_nav">
        <span ng-click="switchStudNav(1)" ng-class="{tab_nav_show: studNavJud==1}">授课课时</span>
        <span ng-click="switchStudNav(2)" ng-class="{tab_nav_show: studNavJud==2}">授课人次</span>
        <span ng-click="switchStudNav(3)" ng-class="{tab_nav_show: studNavJud==3}">消课课时</span>
    </div>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>正式人次</th>
                    <th>补课人次</th>
                    <th>试听人次</th>
                    <th>合计</th>
                </tr>
            </thead>
            <tbody class="course_tbody">
                <tr>
                    <td>本周</td>
                    <td>{{dataTotal.weekFormalTotal}}</td>
                    <td>{{dataTotal.weekMakeUpTotal}}</td>
                    <td>{{dataTotal.weekAuditionTotal}}</td>
                    <td>{{(dataTotal.weekFormalTotal+dataTotal.weekMakeUpTotal+dataTotal.weekAuditionTotal)}}</td>
                </tr>
                <tr>
                    <td>本月</td>
                    <td>{{dataTotal.monthFormalTotal }}</td>
                    <td>{{dataTotal.monthMakeUpTotal}}</td>
                    <td>{{dataTotal.monthAuditionTotal}}</td>
                    <td>{{(dataTotal.monthFormalTotal+dataTotal.monthMakeUpTotal+dataTotal.monthAuditionTotal)}}</td>
                </tr>
                <tr>
                    <td>上周</td>
                    <td>{{dataTotal.lastWeekFormalTotal }}</td>
                    <td>{{dataTotal.lastWeekMakeUpTotal}}</td>
                    <td>{{dataTotal.lastWeekAuditionTotal}}</td>
                    <td>{{(dataTotal.lastWeekFormalTotal+dataTotal.lastWeekMakeUpTotal+dataTotal.lastWeekAuditionTotal)}}</td>
                </tr>
                <tr>
                    <td>上月</td>
                    <td>{{dataTotal.lastMonthFormalTotal }}</td>
                    <td>{{dataTotal.lastMonthMakeUpTotal}}</td>
                    <td>{{dataTotal.lastMonthAuditionTotal}}</td>
                    <td>{{(dataTotal.lastMonthFormalTotal+dataTotal.lastMonthMakeUpTotal+dataTotal.lastMonthAuditionTotal)}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <div class="common_content organ">
        <div class="common_tab" style="margin-bottom: 15px;padding-bottom: 15px; border-bottom: 1px solid #ccc;">
            <ul class="ul_left clearfix">
                <li>
                    <input type="text" class="form-control dateIcon" id="searchTime" size="30" ng-model="searchTime" value="" placeholder="请选择时间段"  autocomplete="off" >
                </li>
                <li class="li_left ml5">
                    <my-select list-name="课程" list-data="{{screen_course}}" list-field="courseName" list-click="changeCourse(n)"  list-defalut="{{xiaoKe.time}}" list-search="true"></my-select>
                </li>
                <li class="li_left margin_lf_15">
                    <my-select list-name="学年" list-data="{{screen_years}}" list-field="year" list-click="changeYear(n)" list-sort="false"></my-select>
                </li>
                <li class="li_left margin_lf_15">
                    <my-select list-name="学期" list-data="{{screen_term}}" list-field="schoolTermName" list-click="changeTerm(n)" list-sort="false"></my-select>
                </li>
                <li class="margin_lf_15">
                    <label class="search_checkbox">
                        <input type="checkbox" class="checkbox-inline labelLeft" ng-model="compareType" ng-change="chargeType(true)">一对一
                    </label>
                </li>
                <li class="margin_lf_15">
                    <label class="search_checkbox">
                        <input type="checkbox" class="checkbox-inline labelLeft" ng-model="compareType1" ng-change="chargeType(false)">一对多
                    </label>
                </li>
                <li class="margin_lf_15">
                    <label class="search_checkbox">
                        <input type="checkbox" class="checkbox-inline labelLeft" ng-checked="activityStatus == 1" ng-click="changeClass($event,1)">活动班
                    </label>
                </li>
                <li class="margin_lf_15 part_leftLine">
                    <label class="search_checkbox">
                        <input type="checkbox" class="checkbox-inline labelLeft" ng-model="teacher1" ng-change="changeTeach(true)">主教老师
                    </label>
                </li>
                <li class="ml5">
                    <label class="search_checkbox">
                        <input type="checkbox" class="checkbox-inline labelLeft" ng-model="teacher0" ng-change="changeTeach(false)">助教老师
                    </label>
                </li>
                <!--<li class="screen_onreset clickText" ng-click="onReset()">重置</li>-->
            </ul>
        </div>
        <div class="main_content">
            <div class="common_tab">
                <ul class="ul_left clearfix">
                    <li class="li_left date" style="margin-left:0;">
                        <ul>
                            <li ng-click="switchStudNav_(0)" ng-class='{tab_active: studNavJud_==0}'>日</li>
                            <li ng-click="switchStudNav_(1)" ng-class='{tab_active: studNavJud_==1}'>周</li>
                            <li ng-click="switchStudNav_(2)" ng-class='{tab_active: studNavJud_==2}'>月</li>
                        </ul>
                    </li>
                    <li class="li_left margin_lf_15">
                        <my-select list-name="统计类别" my-id="class_type" list-data="{{screen_classType}}" list-field="name" list-click="changeClassType(n)"  list-sort="false" list-defalut="{{typeName}}"></my-select>
                    </li>
                   
                    <li class="li_left margin_lf_15">
                        <my-select list-name="老师" list-data="{{screen_teacher}}" list-field="teacherName" list-click="changeByTeach(n)"  list-search="true"></my-select>
                    </li>

                </ul>
            </div>
            <!--统计图-->
            <div class="summary_classify">
                <div class="summary_classify_d1" >
                    <span>单位:&nbsp;人次&nbsp;&nbsp;&nbsp;</span>
                </div>
            </div>
            <div class="main_echart">
                <div class="show_echart" id="mainechart">
                    <!--echart统计图  容器-->
                </div>
            </div>
        </div>
        <div class="table-responsivecharge_table">
            <ul class="ul_left clearfix">
                <li class="newHelp_before" style="padding-left: 20px;">
                   <span>统计规则 </span>
                   <div style="top:0;" class="help_icon noneWidth" data-tips="正式人次：按上课时间统计，标准学员且点名状态为“到课”的人次之和（包含本班学员、临时学员、约课学员）<br>
补课人次：按上课时间统计，补课学员且点名状态为“到课”的人次之和<br>
试听人次：按上课时间统计，试听学员且点名状态为“到课”的人次之和<br>
合计：正式人次+补课人次+试听人次"></div>
                </li>
                <li class="common_tab_libtn" style="float: right;">
                    <div class="common_tab_btn" ng-click="export_config()"><i class="icon_shiting"></i>导出数据</div>
                </li>
            </ul>
            <table class="table" style="margin-bottom:0;">
                <thead my-thead="{{teacListThead}}" list-clicks="sortCllict0(data)"></thead>
                <tbody class="demo_tbody" ng-if="tableList.length<=0">
                    <tr>
                        <td class="textAlignCenter" colspan="5">没有相关数据</td>
                    </tr>
                </tbody>
                <tbody class="course_tbody" ng-if="tableList">
                    <tr ng-repeat="x in tableList">
                        <td>{{x.name}}</td>
                        <td>{{x.zhengShiCourseTotal}}</td>
                        <td>{{x.buKeCourseTotal}}</td>
                        <td>{{x.shiTingCourseTotal}}</td>
                        <td>{{x.total}}</td>
                    </tr>
                </tbody>
            </table>
            <table class="table totalTr" ng-if="tableList.length>0"><tbody>
                <tr>
                    <td>总计</td>
                    <td class="main_color">{{"zhengShiCourseTotal" |_total :tableList}}</td>
                    <td class="main_color">{{"buKeCourseTotal" |_total :tableList}}</td>
                    <td class="main_color">{{"shiTingCourseTotal" |_total :tableList}}</td>
                    <td class="main_color">{{"total" |_total :tableList}}</td>
                </tr>
            </tbody></table>
        </div>
    </div>
</div>
