<div class="data_view_2">
    <ul>
        <li class="padding_rg_10" ng-show="'137'| _authId">
            <div class="collect_map_con">
                <h2 class="collect_map_head">
                    <span>财务流水</span>
                    <p><strong ng-click="routerGo(1)" style="float: right;">查看详情 ></strong></p>
                </h2>
                <p>单位:元</p>
                <div id="mainechart_1">
                    
                </div>
            </div>
        </li>
        <li class="padding_lf_10" ng-show="'138'| _authId">
            <div class="collect_map_con">
                <h2 class="collect_map_head">
                    <span>经营利润</span>
                    <p><strong ng-click="routerGo(2)" style="float: right;">查看详情 ></strong></p>
                </h2>
                <p>单位:元</p>
                <div id="mainechart_2">
                    
                </div>
            </div>
        </li>
    </ul>
    <ul>
        <li class="padding_rg_10" ng-show="'139'| _authId">
            <div class="collect_map_con">
                <h2 class="collect_map_head">
                    <span>学杂统计</span>
                    <p><strong ng-click="routerGo(3)" style="float: right;">查看详情 ></strong></p>
                </h2>
                <p>单位:元</p>
                <div id="mainechart_3">
                    
                </div>
            </div>
        </li>
        <li class="padding_lf_10" ng-show="'140'| _authId">
            <div class="collect_map_con">
                <h2 class="collect_map_head">
                    <span>消课金额</span>
                    <p><em class="collect_head_ps" ng-click="mapClick(4, 1, $event)">近7天</em><em ng-click="mapClick(4, 2, $event)">近30天</em><strong class="pull-right" style="margin-right:15px;" ng-click="routerGo(4)">查看详情 ></strong></p>
                </h2>
                <p>单位:元</p>
                <div id="mainechart_4">
                    
                </div>
            </div>
        </li>
    </ul>
    <ul>
        <li class="padding_rg_10" ng-show="'146'| _authId">
            <div class="collect_map_con">
                <h2 class="collect_map_head">
                    <span>待消金额</span>
                    <p><strong class="pull-right" style="margin-right:15px;" ng-click="routerGo(5)">查看详情 ></strong></p>
                </h2>
                <p>单位:元</p>
                <div id="mainechart_5">
                    
                </div>
            </div>
        </li>
        <!--<li class="padding_lf_10">
            <div class="collect_map_con">
                <h2 class="collect_map_head">
                    <span>出勤率趋势图(百分比)</span>
                    <p><em class="collect_head_ps" ng-click="mapClick(6, 1, $event)">近7天</em><em ng-click="mapClick(6, 2, $event)">近30天</em><strong ng-click="routerGo(6)">查看详情 ></strong></p>
                </h2>
                <div id="mainechart_6">
                    
                </div>
            </div>
        </li>-->
    </ul>
    <!--<ul>
        <li class="padding_rg_10">
            <div class="collect_map_con">
                <h2 class="collect_map_head">
                    <span>满班率趋势图(百分比)</span>
                    <p><strong class="pull-right" style="margin-right:15px;" ng-click="routerGo(7)">查看详情 ></strong></p>
                </h2>
                <div id="mainechart_7">
                    
                </div>
            </div>
        </li>
        <li class="padding_lf_10">
            <div class="collect_map_con">
                <h2 class="collect_map_head">
                    <span>在读趋势图(人)</span>
                    <p><em class="collect_head_ps" ng-click="mapClick(8, 1, $event)">近7天</em><em ng-click="mapClick(8, 2, $event)">近30天</em><strong ng-click="routerGo(8)">查看详情 ></strong></p>
                </h2>
                <div id="mainechart_8">
                    
                </div>
            </div>
        </li>
    </ul>-->
</div>