@charset "utf-8";
/*特殊字体*/
/*@font-face{
    font-family: 'yuyue';
    src: url('font/yuyue.ttf')format('truetype');
    font-weight:normal;
    font-style:normal;
}*/
#show_contain {
    font-size: 100px;
}
.tp1 {
    overflow: hidden;
    width: 100%;
}
.tp1_header {
    width: 100%;
}
.tp1_header img {
    display: block;
    width: 100%;
}
.tp1_course, .tp1_organ, .tp1_teacher, .tp1_yuyue {
    position: relative;
    padding-top: 0.8rem;
    background-color: #b5d8d1;
    color: #348575;
}
.tp1_organ {
    padding-bottom: 0.66rem;
}
.tp1_teacher {
    padding-bottom: 0.5rem;
}
.tp1_course_detail {
    display: none;
    position: relative;
    padding-bottom: 0.8rem;
    background-color: #b5d8d1;
    color: #348575;
}
.tp1_yuyue {
    min-height: 0rem;
    padding-bottom: 0.5rem;
}
.tp1_title {
    width: 4.4rem;
    height: 0.85rem;
    margin: 0 auto;
}
.tp1_course_title {
    background: url("../../../makeappointment/spring/img/course_tp.png") no-repeat;
    background-size: 100% auto;
}
.tp1_organ_title {
    background: url("../../../makeappointment/spring/img/organ_tp.png") no-repeat;
    background-size: 100% auto;
}
.tp1_teacher_title {
    background: url("../../../makeappointment/spring/img/teacher_tp.png") no-repeat;
    background-size: 100% auto;
}
.tp1_yuyue_title {
    background: url("../../../makeappointment/spring/img/yuyue_tp.png") no-repeat;
    background-size: 100% auto;
}
.cloud {
    position: absolute;
    width: 1.13rem;
    height: 0.52rem;
    background: url("../../../makeappointment/spring/img/cloud.png") no-repeat;
    background-size: 100% auto;
}
.cloud_1 {
    top: 0.16rem;
    left: 0.55rem;
}
.cloud_2 {
    top: 1.42rem;
    right: -0.1rem;
}
.cloud_3 {
    top: 3.28rem;
    left: -0.05rem;
}
.cloud_4 {
    top: 5.09rem;
    left: -0.05rem;
}
.cloud_5 {
    bottom: 0.4rem;
    left: -0.1rem;
}
.tp1_course_lis {
    width: 120%;
    padding-left: 0.8rem;
    margin-top: 0.5rem;
}
.tp1_course_lis li {
    float: left;
    width: 2.46rem;
    height: 4.35rem;
    margin: 0px 1rem 0.75rem 0;
    cursor: pointer;
}
.tp1_course_lisname {
    display: block;
    width: 2.46rem;
    height: 0.52rem;
    text-align: center;
    color: #2C8171;
    overflow: hidden;
}
.tp1_course_lisimg {
    overflow: hidden;
    position: relative;
    width: 2.46rem;
    height: 2.53rem;
    padding-top: 0.62rem;
    background-color: #FEFEFE;
}
.tp1_course_lisimg img {
    display: block;
    width: 2.16rem;
    margin: 0 auto;
}
.flower_1 {
    position: absolute;
    top: -0.18rem;
    left: -0.28rem;
    width: 0.54rem;
    height: 0.41rem;
    background: url("../../../makeappointment/spring/img/flower_1.png") no-repeat;
    background-size: contain;
}
.flower_2 {
    position: absolute;
    top: -0.24rem;
    right: -0.06rem;
    width: 1.01rem;
    height: 0.74rem;
    background: url("../../../makeappointment/spring/img/flower_2.png") no-repeat;
    background-size: contain;
}
.flower_3 {
    position: absolute;
    left: -0.34rem;
    bottom: -0.31rem;
    width: 1.14rem;
    height: 1.12rem;
    background: url("../../../makeappointment/spring/img/flower_3.png") no-repeat;
    background-size: contain;
}
.flower_4 {
    position: absolute;
    right: -0.18rem;
    bottom: 0;
    width: 0.84rem;
    height: 1.1rem;
    background: url("../../../makeappointment/spring/img/flower_4.png") no-repeat;
    background-size: contain;
}
.cut_line {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.26rem;
    background: url("../../../makeappointment/spring/img/cut_line.png");
    background-size: auto 100%;
}
/*校区*/
.tp1_organName {
    width: 6.24rem;
    margin: 0.5rem auto 0.1rem;
    font-size: 0.32rem;
    color: #348575;
}
.tp1_organ_lis {
    color: #348575;
    margin-top:0.4rem;
}
.tp1_organ_lis li {
    width: 6.24rem;
    margin: 0 auto 0.2rem;
}
.tp1_organ_lis dd {
    word-wrap:break-word;
    margin-bottom: 0.1rem;
    font-size: 0.28rem;
}
.tp1_organ_lis dt {
    overflow: hidden;
    width: 100%;
    /*max-height: 3.44rem;*/
}
.tp1_organ_lis dt img {
    display: block;
    width: 100%;
}
/*老师介绍*/
.tp1_teacher_con {
    overflow: hidden;
    width: 6.27rem;
    height: 4.3rem;
    margin: 0.5rem auto 0;
    padding: 0.24rem 0 0 0.35rem;
}
.btn_left {
    position: absolute;
    top: 3.8rem;
    left: 0.3rem;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 0.04rem;
    background: url("../../../makeappointment/spring/img/btn_left.png") no-repeat;
    background-size: contain;
    cursor: pointer;
}
.btn_right {
    position: absolute;
    top: 3.8rem;
    right: 0.1rem;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 0.04rem;
    background: url("../../../makeappointment/spring/img/btn_right.png") no-repeat;
    background-size: contain;
    cursor: pointer;
}
.tp1_teacher_lis {
    height: 3.73rem;
}
.tp1_teacher_lis li {
    float: left;
    width: 6.57rem;
    height: 3.73rem;
}
.tp1_teacher_lis dl {
    width: 100%;
    height: 100%;
}
.tp1_teacher_lis dt {
    position: relative;
    float: left;
    width: 2.46rem;
    height: 3.73rem;
    margin-right: 0.36rem;
    background-color: #fff;
}
.tp1_teacher_lis dd {
    float: left;
    width: 3.13rem;
}
.teacher_detail {
    overflow:hidden;
    width: 3.13rem;
    height: 3.73rem;
    font-size: 0.28rem;
}
.teacher_name {
    font-size: 0.4rem;
    margin-bottom: 0.1rem;
}
.teacher_img {
    overflow: hidden;
    width: 2.1rem;
    height: 3rem;
    margin: 0.33rem auto 0;
    border-radius: 50%;
}
.teacher_img img {
    display: block;
    height: 3rem;
    margin-left: -0.4rem;
}
/*预约*/
.tp1_yuyue_lis {
    position: relative;
    width: 5.42rem;
    min-height: 6.13rem;
    margin: 0.5rem auto 0;
    padding-bottom: 0.37rem;
    background-color: #fff;
}
.tp1_yuyue_lis .flower_1 {
    top: -0.3rem;
    left: -0.45rem;
    width: 0.92rem;
    height: 0.67rem;
}
.tp1_yuyue_lis .flower_2 {
    top: -0.46rem;
    right: -0.2rem;
    width: 1.8rem;
    height: 1.82rem;
}
.tp1_yuyue_lis ul {
    width: 4.43rem;
    margin-left: 0.56rem;
    line-height: 0.4rem;
    padding-top: 1.36rem;
}
.tp1_yuyue_lis li {
    height: 0.88rem;
    /*font-family: "yuyue";*/
}
.yuyue_course {
    float: left;
    width: 2.85rem;
    padding-bottom: 0.06rem;
    border-bottom: 1px solid #5eae4c; 
}
.tp1_yuyue_lis select {
    float: left;
    width: 2.85rem;
    height: 0.4rem;
    border: none;
    color: #444;
}
.tp1_yuyue_lis label {
    position: relative;
    float: left;
    margin: 0.1rem 0.1rem 0 0;
}
.tp1_yuyue_lis input {
    float: left;
    width: 2.85rem;
    border: none;
    border-bottom: 1px solid #5eae4c;
    text-indent: 0.2rem;
    line-height: 0.5rem;
    font-family: "yuyue";
    color: #444;
}
.show_required:before {
    position: absolute;
    top: 0;
    left: -0.2rem;
    content: '*';
    color: #f45a4e;
}
.yuyue_sumbit {
    display: block;
    width: 4.06rem;
    height: 0.76rem;
    margin: 0 auto;
    border: none;
    background-color: #04be99;
    color: #fff;
    line-height: 0.76rem;
    text-align: center;
    font-family: "yuyue";
}
.copyright {
    width: 100%;
    margin-top: 0.4rem;
    font-size: 0.24rem;
}
.copyright p {
    text-align: center;
    font-size: 0.24rem;
}
.copyright_erweima {
    overflow: hidden;
    width: 1.8rem;
    height: 1.8rem;
    margin: 0.19rem auto;
    display: block;
}
.copyright_erweima img {
    display: block;
    width: 100%;
    height: 100%;
}
.show_none {
    display: none;
}

/*课程详情*/
.course_detail_img {
    overflow: hidden;
    width: 100%;
    height: 3.75rem;
    margin-bottom: 0.8rem;
}
.course_detail_img img {
    display: block;
    width: 100%;
}
.course_detail_name {
    padding-left: 0.5rem;
    font-size: 0.32rem;
}
.course_detail_name span {
    display: inline-block;
    padding-left: 0.2rem;
    font-size: 0.32rem;
}
.course_detail_tit {
    padding: 0.4rem 0 0.1rem 0.5rem;
    font-size: 0.28rem;
}
.course_detail_text {
    padding: 0 0.5rem;
    font-size: 0.24rem;
}
.course_detail_con li {
    padding: 0 0.5rem 0.2rem;
}
.course_detail_con li img {
    display: block;
    width: 100%;
}
.cloud_6 {
    top: 4.1rem;
    right: 0.36rem;
    width: 2.43rem;
    height: 1.12rem;
}
.cloud_7 {
    top: 7.38rem;
    right: 0.17rem;
}

.cloud_8 {
    top: 8.88rem;
    left: -0.4rem;
}
.cloud_9 {
    top: 10.88rem;
    right: -0.4rem;
}
.return_page {
    position: absolute;
    top: 0.4rem;
    left: 0.5rem;
    width: 0.7rem;
    height: 0.7rem;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    background-size: contain;
    cursor: pointer;
    text-align: center;
}
.return_page:before {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 0.7rem;
    color: #fff;
    font-weight: bold;
    font-size: 0.3rem;
}
/*音乐*/
.r_music {
    position: absolute;
    right: 0.8rem;
    top: 1.6rem;
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
    background: url("../img/music_off.png") no-repeat;
    background-size: contain;
    cursor: pointer;
}
/*旋转*/
.music_rotate {
    background: url("../img/music_on.png") no-repeat;
    background-size: contain;
    transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -moz-transform-origin: center center;
    -webkit-transform-origin: center center;
    -o-transform-origin: center center;
    transform-origin: center center;
    animation: mu_sport 3s linear 0s infinite;
    -webkit-animation: mu_sport 3s linear 0s infinite;
    -o-animation: mu_sport 3s linear 0s infinite;
}
@keyframes mu_sport {
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}
@keyframes mu_sport {
    from{-moz-transform: rotate(0deg);}
    to{-moz-transform: rotate(360deg);}
}
@keyframes mu_sport {
    from{-o-transform: rotate(0deg);}
    to{-o-transform: rotate(360deg);}
}
@keyframes mu_sport {
    from{-webkit-transform: rotate(0deg);}
    to{-webkit-transform: rotate(360deg);}
}