@charset "utf-8";
.summer_2_con {
    position: relative;
    width: 100%;
    font-size: 0.28rem;
}
.b_bg {
    display: block;
    width: 100%;
}
.b_banner_con {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.b_peo img {
    float: left;
    width: 0.88rem;
    height: 0.88rem;
    margin: 0.53rem  0.22rem 0 0.22rem;
    border-radius: 50%;
}
.b_peo div {
    color: #fff;
    padding-top: 0.48rem;
    line-height: 0.35rem;
}
.b_peo div p {
    color: #3E829E;
}
.b_peo div span {
    color: #FEF60A;
    font-size: 0.36rem;
}
.b_tit {
    margin: 0.47rem 0 0.3rem;
}
.b_tit p {
    width:5.74rem;
    margin: 0 auto;
    font-size: 0.42rem;
    text-align: center;
    background:url("../img/title_bg.png") no-repeat;
    background-size: 100% 100%;
    height:1.55rem;
    line-height: 1.55rem;
    color: #42A4DF;
}
.b_time {
    width: 5.4rem;
    height: 0.6rem;
    margin: 7.45rem auto;
    color: #3E829E;
}
.b_time p {
    font-size: 0.24rem;
    background: url('../img/timebg.png') no-repeat;
    height: 0.6rem;
    line-height: 0.6rem;
    background-size: 100% 100%;
}
.b_time p span:nth-of-type(1) {
    display: inline-block;
    margin-left: 2rem;
    color: #F9EC5F;
    font-size: 0.24rem;
}
.b_time p span:nth-of-type(2) {
    display: inline-block;
    margin-left: 0.55rem;
    color: #F9EC5F;
    font-size: 0.24rem;
}
.b_time p span:nth-of-type(3) {
    display: inline-block;
    margin-left: 0.4rem;
    color: #F9EC5F;
    font-size: 0.24rem;
}
.b_time p span:nth-of-type(4) {
    display: inline-block;
    margin-left: 0.55rem;
    color: #F9EC5F;
    font-size: 0.24rem;
}
.pos_imgs {
    position: relative;
    width: 100%;
    margin-top: 0.4rem;
}

.b_btn {
    position: absolute;
    top: 9.8rem;
    left: 0;
    width: 100%;
}
.b_btn_1 {
    display: block;
    width: 2.24rem;
    height: 1.08rem;
    margin: 0 auto;
    padding-bottom: 0.05rem;
    border: none;
    background: url("../img/btn.png") no-repeat;
    background-size: 100% 100%;
    color: #fff;
    text-align: center;
    line-height: 0.87rem;
    font-weight: bold;
    cursor: pointer;
}
.b_prize, .b_rule, .b_logs, .b_joins, .b_organ {
    position: relative;
    width: 6.4rem;
    margin: 2.74rem auto 0;
}
.b_box {
    position: relative;
    width: 100%;
    min-height: 4.2rem;
    padding: 0.3rem;
    background: url("../img/boxbg.png") no-repeat #F0F9FA;
    background-size: cover;
    box-shadow: -0.02rem 0.16rem 0.32rem 0 rgba(180, 180, 180, 0.61);
    border-radius: 0.12rem;
}
.b_box p {
    color: #416B84;
    font-size: 0.3rem;
    line-height: 0.48rem;
}
.b_box img {
    display: block;
    width: 100%;
    /*margin-bottom: 0.25rem;*/
}
.b_con_tit_prize {
    position: absolute;
    top:-2.7rem;
    left: 1.4rem;
    width: 3.64rem;
    height: 2.02rem;
    margin: 0 auto;
    background: url("../img/prize.png") no-repeat;
    background-size: 100% 100%;
}
.shells{
    display: inline-block;
    width: 100%;
    height:2.5rem;
    background: url("../img/shells.png") no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top:0;
    left:0;
}
.b_con_tit_role {
    position: absolute;
    top: -2.7rem;
    left: 1.4rem;
    width: 3.64rem;
    height: 2.02rem;
    margin: 0 auto;
    background: url("../img/role.png") no-repeat;
    background-size: 100% 100%;
}
.b_con_tit_bang {
    position: absolute;
    top: -2.7rem;
    left: 1.4rem;
    width: 3.64rem;
    height: 2.02rem;
    margin: 0 auto;
    background: url("../img/bang.png") no-repeat;
    background-size: 100% 100%;
}
.b_con_tit_rank {
    position: absolute;
    top: -2.7rem;
    left: 1.4rem;
    width: 3.64rem;
    height: 2.02rem;
    margin: 0 auto;
    background: url("../img/rankingList.png") no-repeat;
    background-size: 100% 100%;
}
.b_con_tit_organ {
    position: absolute;
    top: -2.7rem;
    left: 1.4rem;
    width: 3.64rem;
    height: 2.02rem;
    margin: 0 auto;
    background: url("../img/organ.png") no-repeat;
    background-size: 100% 100%;
}
.b_nodata {
    width: 100%;
    height: 4.2rem;
    color: #F280A7;
    line-height: 4.2rem !important;
    text-align: center;
}
.copyright {
    position: relative;
    width: 100%;
    font-size: 0.28rem;
    padding: 0 0 0.3rem;
    background-color: #F2D6E5;
    color: #55616A;
}
.copyright p {
    text-align: center;
    line-height: 0.34rem;
    margin-top: 0.13rem;
}
.copyright_erweima {
    overflow: hidden;
    width: 1.8rem;
    height: 1.8rem;
    margin: 0.19rem auto;
    display: block;
}
.copyright_erweima img {
    display: block;
    width: 100%;
    height: 100%;
}
/*音乐*/
.r_music {
    position: absolute;
    right: 0.3rem;
    top: 0.3rem;
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
    background: url("../../../bargain/redEnvelopesMonster/img/music_off.png") no-repeat;
    background-size: contain;
    cursor: pointer;
}
/*旋转*/
.music_rotate {
    background: url("../../../bargain/redEnvelopesMonster/img/music_on.png") no-repeat;
    background-size: contain;
    transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -moz-transform-origin: center center;
    -webkit-transform-origin: center center;
    -o-transform-origin: center center;
    transform-origin: center center;
    animation: mu_sport 3s linear 0s infinite;
    -webkit-animation: mu_sport 3s linear 0s infinite;
    -o-animation: mu_sport 3s linear 0s infinite;
}
@keyframes mu_sport {
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}
@keyframes mu_sport {
    from{-moz-transform: rotate(0deg);}
    to{-moz-transform: rotate(360deg);}
}
@keyframes mu_sport {
    from{-o-transform: rotate(0deg);}
    to{-o-transform: rotate(360deg);}
}
@keyframes mu_sport {
    from{-webkit-transform: rotate(0deg);}
    to{-webkit-transform: rotate(360deg);}
}
.copyright p:last-child{
    width:6.08rem;
    height:0.65rem;
    background: url(https://cdn.yizhiniao.com/yzncopyright.png) no-repeat;
    background-size: contain;
    margin :0.6rem auto 0 !important;
}