@charset "utf-8";
/*特殊字体*/
/*@font-face{
    font-family: 'FZQKBYSJW';
    src: url('font/FZQKBYSJW.ttf')format('truetype');
    font-weight:normal;
    font-style:normal;
}*/
#show_contain {
    font-size: 100px;
}
.tp3 {
    overflow: hidden;
    width: 100%;
    background-color: #444545;
    color: #333;
    font-size: 0.24rem;
}
* {
    font-size: 0.24rem;
}
.tp1_header {
    width: 100%;
}
.tp1_header img {
    display: block;
    width: 100%;
}
.box {
    position: relative;
    width: 100%;
    padding-top: 0.8rem;
}
.con {
    /*position: absolute;*/
    width: 100%;
}
.tp1_title {
    width: 3.1rem;
    height: 1.11rem;
    margin: 0 auto 0.38rem;
    background: url("../../../makeappointment/currency/img/tit_name.png") no-repeat;
    background-size: contain;
    color: #fff;
    line-height: 1.11rem;
    text-align: center;
    font-size: 0.36rem;
}
.list_box {
    width: 6.01rem;
    margin: 0 auto;
    background: url("../../../makeappointment/currency/img/organ_con.png") no-repeat;
    background-size: 100% 100%;
    padding: 0.3rem 0.31rem;
}
.tp1_organ_lis {
    width: 100%;
    padding: 0.15rem;
    border: 1px solid #fff;
    background-color: #ffedcd;
}
.tp1_organ_lis dd {
    margin-bottom: 0.1rem;
}
.tp1_organ_lis dt {
    width: 100%;
}
.tp1_organ_lis dt img {
    display: block;
    width: 100%;
}
.tp1_teacher_con {
    overflow: hidden;
    width: 6.01rem;
    height: 5.67rem;
    margin: 0 auto;
}
.tp1_teacher_lis li {
    float: left;
    width: 6.01rem;
    height: 5.67rem;
    background: url("../../../makeappointment/currency/img/teacher_con.png") no-repeat;
    background-size: 100% 100%;
}
.tp1_teacher_lis dl {
    padding: 0.8rem 0.31rem;
}
.tp1_teacher_lis dt {
    float: left;
    width: 2.52rem;
    height: 100%;
    margin-right: 0.4rem;
}
.tp1_teacher_lis dt img {
    display: block;
    width: 100%;
}
.tp1_teacher_lis dd {
    overflow: hidden;
    float: left;
    width: 2.4rem;
    height: 100%;
}
.teachers_point {
    overflow: hidden;
    margin: 0.4rem auto 0;
}
.teachers_point p {
    width: 200%;
    height: 0.1rem;
}
.teachers_point span {
    float: left;
    width: 0.1rem;
    height: 0.1rem;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    margin-right: 0.12rem;
}
.teachers_point .sp_show {
    background-color: rgba(255, 255, 255, 0.9);
}
.tp1_course_lis {
    width: 6.01rem;
    margin: 0 auto;
}
.tp1_course_lis li {
    float: left;
    width: 3rem;
    margin-bottom: 0.35rem;
}
.tp1_course_lis li div {
    overflow: hidden;
    width: 2.49rem;
}
.tp1_course_lis li div img {
    display: block;
    width: 100%;
}
.tp1_course_lis li span {
    display: block;
    width: 2.49rem;
    height: 0.56rem;
    line-height: 0.56rem;
    text-align: center;
    font-size: 0.28rem;
    overflow:hidden;
}
.tp1_courselis_lf {
    padding: 0.26rem 0 0 0.32rem;
    background: url("../../../makeappointment/currency/img/course_lf.png") no-repeat;
    background-size: 100% 100%;
}
.tp1_courselis_rg {
    padding: 0.26rem 0 0 0.24rem;
    background: url("../../../makeappointment/currency/img/course_rg.png") no-repeat;
    background-size: 100% 100%;
}
.tp1_yuyue_box {
    width: 6.01rem;
    margin: 0 auto;
    padding: 0.23rem 0.34rem;
    background: url("../../../makeappointment/currency/img/organ_con.png") no-repeat;
    background-size: 100% 100%;
}
.tp1_yuyue_lis {
    width: 100%;
    padding-bottom: 0.4rem;
    border: 1px solid #fff;
    background-color: #ffedcd;
}
.tp1_yuyue_lis li {
    padding: 0.27rem 0 0 0.4rem;
    height: 0.5rem;
    margin-bottom: 0.2rem;
}
.tp1_yuyue_lis li label {
    float: left;
    position: relative;
    float: left;
    margin: 0;
    margin-right: 0.2rem;
    line-height: 0.5rem;
}
.tp1_yuyue_lis li input {
    float: left;
    width: 3.24rem;
    height: 0.5rem;
    padding-left: 0.2rem;
    border: none;
    border: 1px solid #452317;
    background-color: #fff;
}
.tp1_course_detail {
    position: relative;
}
.yuyue_course {
    float: left;
    width: 3.24rem;
    height: 0.5rem;
}
.yuyue_course select {
    display: block;
    width: 3.24rem;
    height: 0.5rem;
    border: none;
    border-radius: 0;
    padding-left: 0.2rem;
    border: none;
    border: 1px solid #452317;
    background-color: #fff;
}
.show_required:before {
    position: absolute;
    top: 0;
    left: -0.2rem;
    content: '*';
    color: #f45a4e;
}
.yuyue_sumbit {
    display: block;
    width: 2.37rem;
    height: 0.6rem;
    border: 1px solid #452317;
    margin: 0.6rem auto 0;
    background-color: #fff;
    color: #452317;
    line-height: 0.2rem;
    background: url("../../../makeappointment/currency/img/btn.png") no-repeat;
    background-size: 100% 100%;
}
.copyright {
    width: 100%;
    margin-top: 0.6rem;
    padding-bottom: 0.5rem;
    color: #fff;
}
.copyright p {
    text-align: center;
}
.copyright_erweima {
    overflow: hidden;
    width: 1.8rem;
    height: 1.8rem;
    margin: 0.19rem auto;
    display: block;
}
.copyright_erweima img {
    display: block;
    width: 100%;
    height: 100%;
}
.show_none {
    display: none;
}
.return_page {
    position: absolute;
    top: 0.4rem;
    left: 0.5rem;
    width: 0.7rem;
    height: 0.7rem;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    background-size: contain;
    cursor: pointer;
    text-align: center;
}
.return_page:before {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 0.7rem;
    color: #fff;
    font-weight: bold;
    font-size: 0.3rem;
}
/*课程详情*/
.course_detail_img {
    overflow: hidden;
    width: 100%;
    height: 3.75rem;
}
.course_detail_img img {
    display: block;
    width: 100%;
}
.course_detail_name {
    padding-left: 0.1rem;
    font-size: 0.36rem;
}
.course_detail_name span {
    display: inline-block;
    padding-left: 0.2rem;
    font-size: 0.36rem;
    font-family: "微软雅黑";
}
.course_detail_tit {
    padding: 0.2rem 0 0.1rem 0.1rem;
    font-size: 0.32rem;
}
.course_detail_text {
    padding: 0 0.1rem;
    color: #333333;
    font-size: 0.28rem;
}
.course_detail_con li {
    padding: 0 0.1rem 0.2rem;
}
.course_detail_con li img {
    display: block;
    width: 100%;
}
.course_detail_con p {
    font-size: 0.28rem;
}
.tp1_course_detail_box {
    position: relative;
    width: 6.01rem;
    margin: 0 auto;
    padding: 0.4rem 0.3rem 0.5rem;
    background: url("../../../makeappointment/currency/img/organ_con.png") no-repeat;
    background-size: 100% 100%;
    color: #333;
}
.tp1_course_detail_con {
    padding: 0.1rem;
    border: 1px solid #fff;
    background-color: #ffedcd;
}
.tp1_course_detail_po {
    position: relative;
    padding-top: 1.19rem;
}




.flower_1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 1.07rem;
    height: 0.66rem;
    background: url("../../../makeappointment/currency/img/flower_1.png") no-repeat;
    background-size: contain;
}
.flower_2 {
    position: absolute;
    top: 0;
    left: 0.9rem;
    width: 1.23rem;
    height: 0.52rem;
    background: url("../../../makeappointment/currency/img/flower_2.png") no-repeat;
    background-size: contain;
}
.flower_3 {
    position: absolute;
    top: 0;
    left: 1.92rem;
    width: 1.23rem;
    height: 0.52rem;
    background: url("../../../makeappointment/currency/img/flower_3.png") no-repeat;
    background-size: contain;
}
.flower_4 {
    position: absolute;
    top: 0;
    right: 2.03rem;
    width: 1.07rem;
    height: 0.66rem;
    background: url("../../../makeappointment/currency/img/flower_1.png") no-repeat;
    background-size: contain;
}
.flower_5 {
    position: absolute;
    top: 0;
    right: 0.97rem;
    width: 1.23rem;
    height: 0.52rem;
    background: url("../../../makeappointment/currency/img/flower_2.png") no-repeat;
    background-size: contain;
}
.flower_6 {
    position: absolute;
    top: 0;
    right: 0;
    width: 1.23rem;
    height: 0.52rem;
    background: url("../../../makeappointment/currency/img/flower_3.png") no-repeat;
    background-size: contain;
}
.icon_1 {
    position: absolute;
    top: 1.3rem;
    left: 0.29rem;
    width: 2.11rem;
    height: 2.36rem;
    background: url("../../../makeappointment/currency/img/icon_1.png") no-repeat;
    background-size: contain;
}
.icon_2 {
    position: absolute;
    top: 1.3rem;
    right: 0;
    width: 2.06rem;
    height: 1.98rem;
    background: url("../../../makeappointment/currency/img/icon_2.png") no-repeat;
    background-size: contain;
}
.icon_3 {
    position: absolute;
    bottom: -0.35rem;
    right: 0;
    width: 1.32rem;
    height: 1.62rem;
    background: url("../../../makeappointment/currency/img/icon_3.png") no-repeat;
    background-size: contain;
}
.icon_4 {
    position: absolute;
    top: 1.8rem;
    left: 0;
    width: 1.25rem;
    height: 1.16rem;
    background: url("../../../makeappointment/currency/img/icon_4.png") no-repeat;
    background-size: contain;
}
.icon_5 {
    position: absolute;
    top: 1.01rem;
    right: 0.54rem;
    width: 0.74rem;
    height: 1.51rem;
    background: url("../../../makeappointment/currency/img/icon_5.png") no-repeat;
    background-size: contain;
}
.icon_6 {
    position: absolute;
    top: 0.56rem;
    left: 0;
    width: 1.59rem;
    height: 1.51rem;
    background: url("../../../makeappointment/currency/img/icon_6.png") no-repeat;
    background-size: contain;
}
.icon_7 {
    position: absolute;
    top: 1.72rem;
    right: 0.08rem;
    width: 0.87rem;
    height: 1.51rem;
    background: url("../../../makeappointment/currency/img/icon_7.png") no-repeat;
    background-size: contain;
}
.icon_8 {
    position: absolute;
    top: 0.8rem;
    left: 0.08rem;
    width: 1.03rem;
    height: 0.96rem;
    background: url("../../../makeappointment/currency/img/icon_8.png") no-repeat;
    background-size: contain;
}
.icon_9 {
    position: absolute;
    top: 1.4rem;
    right: 0;
    width: 1.7rem;
    height: 0.88rem;
    background: url("../../../makeappointment/currency/img/icon_9.png") no-repeat;
    background-size: contain;
}
.icon_10 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 2.13rem;
    height: 2.06rem;
    background: url("../../../makeappointment/currency/img/icon_10.png") no-repeat;
    background-size: contain;
}
.icon_11 {
    position: absolute;
    bottom: 0.19rem;
    right: 0.59rem;
    width: 1.72rem;
    height: 1.19rem;
    background: url("../../../makeappointment/currency/img/icon_11.png") no-repeat;
    background-size: contain;
}
.tp1_course_detail .icon_1 {
    top: 0.58rem;
    left: 0;
}
.tp1_course_detail .icon_2 {
    top: 0.32rem;
    right: 0;
}
.tp1_course_detail .icon_3 {
    top: 5.05rem;
    right: 0;
}
.tp1_course_detail .icon_4 {
    top: 8.76rem;
    left: 0;
}
.tp1_course_detail .icon_5 {
    top: 8.87rem;
    right: 0.36rem;
}
.tp1_course_detail .icon_7 {
    top: initial;
    bottom: 0;
    right: 0.08rem;
}
/*音乐*/
.r_music {
    position: absolute;
    right: 0.8rem;
    top: 1.6rem;
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
    background: url("../img/music_off.png") no-repeat;
    background-size: contain;
    cursor: pointer;
}
/*旋转*/
.music_rotate {
    background: url("../img/music_on.png") no-repeat;
    background-size: contain;
    transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -moz-transform-origin: center center;
    -webkit-transform-origin: center center;
    -o-transform-origin: center center;
    transform-origin: center center;
    animation: mu_sport 3s linear 0s infinite;
    -webkit-animation: mu_sport 3s linear 0s infinite;
    -o-animation: mu_sport 3s linear 0s infinite;
}
@keyframes mu_sport {
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}
@keyframes mu_sport {
    from{-moz-transform: rotate(0deg);}
    to{-moz-transform: rotate(360deg);}
}
@keyframes mu_sport {
    from{-o-transform: rotate(0deg);}
    to{-o-transform: rotate(360deg);}
}
@keyframes mu_sport {
    from{-webkit-transform: rotate(0deg);}
    to{-webkit-transform: rotate(360deg);}
}