<!--预设时间-->
<div class="popup_ preSetMark" id="preSetMark">
    <h6>标签管理<span ng-click="closePopup('preSetMark')" class="popup_x icon_drop_x"></span></h6>
    <div class="popup_content"  style="padding-top:0;">
        <form class="popup_form" role="form">
            <div class="popup_form_content">
                <div class="popup_scroll" isScroll="false">
                     <div class="pot_pop_peo_nav clearfix">
                        <div class="common_tab_btn fontRed_BgWhite" ng-click="addMark('add')">
                            <i class="icon_addcourse"></i>新增标签
                        </div>
                    </div>
                   <div class="popup_table">
                    <table class="popup_table_head" style="width:100%;">
                        <thead>
                            <tr>
                                <th class="textAlignCenter" style="width:8%;">
                                    <input ng-if="choseType == 'checkbox'" type="checkbox" ng-model="selAll" ng-click="checkboxAll(selAll,markList)"/>
                                </th>
                                <th>标签名称</th>
                                <th class="textAlignCenter">操作</th>
                            </tr>
                        </thead>
                    </table>
                    <div class="popup_table_body" style="width:102%;">
                        <table>
                            <tbody class="roll_tbody" ng-if="markList==''||!markList">
                                <tr>
                                    <td class="textAlignCenter" colspan="3">没有相关数据</td>
                                </tr>
                            </tbody>
                            <tbody class="roll_tbody" ng-if="markList">
                                <tr ng-repeat="x in markList" ng-click="selSingle_lf(x,markList,$event)">
                                    <td class="textAlignCenter" style="width:8%;">
                                        <input ng-if="choseType == 'radio'" type="radio" name="sel_mark" value="{{x.id}}" ng-model="markList.id"/>
                                        <input ng-if="choseType == 'checkbox'" type="checkbox" name="sel_mark" ng-checked="x.hasChecked"  />
                                    </td>
                                    <td>{{x.name}}</td>
                                    <td class="operate overflow-normal textAlignCenter">
                                        <span class="clickText" ng-click="addMark('edit',x)">编辑</span>
                                        <span class="clickText" ng-click="deletePreMark(x)">删除</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                </div>
            </div>
            <div class="popup_btn">
                <button class="btn cancel" ng-click="closePopup('preSetMark')" type="button">取消</button>
                <button class="btn sure" type="submit" ng-click="confirm_selMark()">确定</button>
            </div>
        </form>
    </div>
</div>
<!--新增时间-->
<div class="popup_ add_preSetMark" id="add_preSetMark">
    <h6>{{operateType=="add"?"新增":"编辑"}}标签<span ng-click="closePopup('add_preSetMark')" class="popup_x icon_drop_x"></span></h6>
    <div class="popup_content">
        <form class="popup_form" role="form" ng-submit="confirmMark()">
            <div class="popup_form_content">
                <div class="popup_scroll" isScroll="false">
                    <div class="popup_line">
                        <label class="form-label">标签名称:</label>
                        <div class="col-xs-5" style="height:30px;">
                            <input type="text" class="form-control" maxlength="10" placeholder="请输入标签名称" ng-model="mark.name" required/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="popup_btn">
                <button class="btn cancel" ng-click="closePopup('add_preSetMark')" type="button">取消</button>
                <button class="btn sure" type="submit">确定</button>
            </div>
        </form>
    </div>
</div>
