<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>费用收据打印</title>
    <style>
        body,html{
            margin:0;
            padding:0;
        }
        .wrapper{
            position: absolute;
            left:50%;
            top:50%;
            transform:translate(-50%,-50%);
            -webkit-transform:translate(-50%,-50%);
            -moz-transform:translate(-50%,-50%);
            -ms-transform:translate(-50%,-50%);
            -o-transform:translate(-50%,-50%);
        }
    </style>
</head>
<body>
<div id="printImg">
    <!--<img id="printImg">-->
</div>
</body>
<script>
//    var str = localStorage.getItem("printimgSrc"):
    document.getElementById("printImg").innerHTML = localStorage.getItem("printimgSrc");
    window.print();
    localStorage.removeItem("printimgSrc");
</script>
</html>