@charset "utf-8";
.turntable div, .turntable p, .turntable span {
    font-size: 0.28rem;
}
.turntable>div{
    position: relative;
}
.turntable {
    background:url("../img/totalbg.png") repeat-y;
    background-size: cover;
    position: relative;
}
.contain_1 {
    position: relative;
    width: 100%;
}
.contain_1 img {
    display: block;
    width: 100%;
}
.contain_1_con {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 0.42rem;
}
.contain_1_con>img{
    width: 5.86rem;
    height: 8.22rem;
    position: relative;
    top: -1.3rem;
    left: 0.9rem;
}
.t_peo {
    height: 1.3rem;
    padding-left: 0.25rem;
    color: #fff;
}
.t_peo img {
    float: left;
    width: 0.88rem;
    height: 0.88rem;
    margin: 0.14rem 0.14rem 0 0;
    border-radius: 50%;
}
.t_peo p {
    line-height: 0.38rem;
    color: #2b4311;
}
.t_peo p span {
    font-size: 0.36rem;
}
/*音乐*/
.r_music {
    position: absolute;
    right: 0.3rem;
    top: 0.3rem;
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
    background: url("../img/music_off.png") no-repeat;
    background-size: contain;
    cursor: pointer;
}
/*旋转*/
.music_rotate {
    background: url("../img/music_on.png") no-repeat;
    background-size: contain;
    transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -moz-transform-origin: center center;
    -webkit-transform-origin: center center;
    -o-transform-origin: center center;
    transform-origin: center center;
    animation: mu_sport 3s linear 0s infinite;
    -webkit-animation: mu_sport 3s linear 0s infinite;
    -o-animation: mu_sport 3s linear 0s infinite;
}
@keyframes mu_sport {
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}
@keyframes mu_sport {
    from{-moz-transform: rotate(0deg);}
    to{-moz-transform: rotate(360deg);}
}
@keyframes mu_sport {
    from{-o-transform: rotate(0deg);}
    to{-o-transform: rotate(360deg);}
}
@keyframes mu_sport {
    from{-webkit-transform: rotate(0deg);}
    to{-webkit-transform: rotate(360deg);}
}
.t_title {
    width: 5.83rem;
    height: 2.14rem;
    margin: 0 auto;
    padding-top: 0.4rem;
}
.t_btn {
    display: block;
    width: 3.22rem;
    height: 0.88rem;
    margin: 0.3rem auto;
    border: none;
    background: url("../img/t_btn.png") no-repeat;
    background-size: 100% 100%;
}
.t_tit {
    width: 7.07rem;
    height: 0.91rem;
    margin: 0.8rem auto 0;
    position: relative;
    z-index: 1;
}
.t_tit1 {
    background: url("../img/t_tit (1).png") no-repeat;
    background-size: contain;
    background-position: center;
}
.t_tit2 {
    background: url("../img/t_tit (2).png") no-repeat;
    background-size: contain;
    background-position: center;
}
.t_tit3 {
    background: url("../img/t_tit (3).png") no-repeat;
    background-size: contain;
    background-position: center;
}
.t_tit4 {
    background: url("../img/t_tit (4).png") no-repeat;
    background-size: contain;
    background-position: center;
}
.t_context {
    width: 4.8rem;
    margin: 0 auto;
    padding: 0.2rem 0.2rem 0.28rem;
    background-color: #FAD78E;
    color: #B10500;
    position: relative;
    top: -0.08rem;
}
.t_context>div{
    padding:0.2rem;
    border:0.01rem solid #E1884E;
}
.t_tit:before{
    content: "";
    display: inline-block;
    width: 1.7rem;
    height: 2.23rem;
    position: absolute;
    top: 0.5rem;
    left: -0.3rem;
    z-index: 0;
    background: url(../img/denglong.png) no-repeat;
    background-size: 100% 100%;
}
.t_tit:after{
    content: "";
    display: inline-block;
    width: 1.7rem;
    height: 2.23rem;
    position: absolute;
    top: 0.5rem;
    right: -0.3rem;
    z-index: 0;
    background: url(../img/denglong.png) no-repeat;
    background-size: 100% 100%;
}
.t_context p {
    margin-bottom: 0.1rem;
    font-size: 0.24rem;
    line-height: 0.48rem;
    font-weight: bold;
}
.t_context img {
    display: block;
    width: 100%;
}
.nodata {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 2.28rem;
}
.copyright {
    position: relative;
    width: 100%;
    font-size: 0.28rem;
    padding: 0.6rem 0 0.3rem;
    color: #fff;
}
.copyright p {
    text-align: center;
    line-height: 0.34rem;
    margin-top: 0.13rem;
}
.copyright_erweima {
    overflow: hidden;
    width: 1.8rem;
    height: 1.8rem;
    margin: 0.19rem auto;
    display: block;
}
.copyright_erweima img {
    display: block;
    width: 100%;
    height: 100%;
}

/*.bac2{*/
    /*position: absolute;*/
    /*top:0;*/
    /*left:0;*/
/*}*/
.sbBG{
    margin-top:6.8rem;
    padding-top:0.3rem;
    background: url("../img/sbBG.png") no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
}
.b_peo div {
    color: #fff;
    line-height: 0.35rem;
}
.b_peo div p {
    color: #fff;
}
.b_peo div span {
    color: #f7ef46;
    font-size: 0.42rem;
}
.b_peo img {
    float: left;
    width: 0.88rem;
    height: 0.88rem;
    margin: 0 0.22rem 0 0.22rem;
    border-radius: 50%;
}
.b_time {
    width: 5.4rem;
    height: 0.6rem;
    margin: 0.2rem auto;
    color: #fff;
    text-align: center;
}
.b_time span:nth-of-type(1) {
    display: inline-block;
    margin-left: 0.2rem;
    color: #f7ef46;
    font-size: 0.24rem;
}
.b_time span:nth-of-type(2) {
    display: inline-block;
    margin-left: 0.2rem;
    color: #f7ef46;
    font-size: 0.24rem;
}
.b_time span:nth-of-type(3) {
    display: inline-block;
    margin-left: 0.2rem;
    color: #f7ef46;
    font-size: 0.24rem;
}
.b_time span:nth-of-type(4) {
    display: inline-block;
    margin-left: 0.2rem;
    color: #f7ef46;
    font-size: 0.24rem;
}
.b_tit {
    margin: 0.4rem 0 0.14rem;
    overflow: auto;
}
.b_tit>p {
    width:5.74rem;
    margin: 0 auto;
    font-size: 0.42rem;
    text-align: center;
    color: #fff;
}
.copyright p:last-child{
    width:6.08rem;
    height:0.65rem;
    background: url(https://cdn.yizhiniao.com/yzncopyright.png) no-repeat;
    background-size: contain;
    margin :0.6rem auto 0 !important;
}

