<div class="new_common_title {{ismenuOoen?'':'isclosed_'}}">
    <div class="back_icon icon_return" ng-click="toStatistics()">教务分析详情</div>
</div>
<div class="common_body new_summary_body">
     <div class="tab_nav">
        <span ng-click="switchStudNav(1)" ng-class="{tab_nav_show: studNavJud==1}">出勤率</span>
        <span ng-click="switchStudNav(2)" ng-class="{tab_nav_show: studNavJud==2}">满班率</span>
        <span ng-click="switchStudNav(3)" ng-class="{tab_nav_show: studNavJud==3}">在读趋势</span>
    </div>
    <div class="common_content organ">
        <div class="icon_warn" style="margin-bottom: 15px;color:#999;">本数据统计截止至昨日</div>
        <div class="common_tab" style="margin-bottom: 15px;padding-bottom: 15px; border-bottom: 1px solid #ccc;">
            <ul class="ul_left clearfix">
                <li>
                    <input type="text" class="form-control dateIcon" id="searchTime" size="30" ng-model="searchTime" value="" placeholder="请选择时间段"  autocomplete="off" >
                </li>
                <li>
                    <my-select list-name="省" list-data="{{provincesList['0']}}" list-field="" list-click="searchByProv(n, i)" list-search="false" list-sort="false"></my-select>
                </li>
                <li>
                    <my-select list-name="市" list-data="{{cityList}}" list-field="" list-click="searchByCity(n)" list-search="false" list-sort="false"></my-select>
                </li>
                <li>
                    <my-select list-name="所属校区" list-data="{{shooList}}" list-field="shopName" list-click="searchByShop(n)" list-search="false"></my-select>
                </li>
                <li class="screen_onreset clickText margin_lf_15" ng-click="onReset()">重置</li>
            </ul>
        </div>
        <div class="main_content">
            <div class="common_tab">
                <ul class="ul_left clearfix">
                    <li class="li_left date" style="margin-left:0;">
                        <ul>
                            <li ng-click="switchStudNav_(0)" ng-class='{tab_active: studNavJud_==0}'>日</li>
                            <li ng-click="switchStudNav_(1)" ng-class='{tab_active: studNavJud_==1}'>周</li>
                            <li ng-click="switchStudNav_(2)" ng-class='{tab_active: studNavJud_==2}'>月</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!--统计图-->
            <div class="summary_classify">
                <div class="summary_classify_d1" >
                    <span>单位:&nbsp;%&nbsp;&nbsp;&nbsp;</span>
                </div>
            </div>
            <div class="main_echart">
                <div class="show_echart" id="mainechart">
                    <!--echart统计图  容器-->
                </div>
            </div>
        </div>
        <div class="table-responsivecharge_table">
            <ul class="ul_left clearfix">
                <li class="newHelp_before" style="padding-left: 20px;">
                   <span>统计规则 </span>
                   <div style="top:0;" class="help_icon noneWidth" data-tips="上课次数：按上课时间统计，各校区老师上课点名次数之和<br>
到课人次：按上课时间统计，各校区点名结果为“到课”的人数之和<br>
缺席人次：按上课时间统计，各校区点名结果为“缺席”的人数之和<br>
请假人次：按上课时间统计，各校区点名结果为“请假”的人数之和<br>
出勤率：到课人次÷（到课人次+缺席人次+请假人次）"></div>
                </li>
                <li class="common_tab_libtn" style="float: right;">
                    <div class="common_tab_btn" ng-click="export_config()"><i class="icon_shiting"></i>导出数据</div>
                </li>
            </ul>
            <table class="table" style="margin-bottom:0;">
                <thead my-id="head" my-thead="{{teacListThead}}" list-clicks="sortCllict0(data)"></thead>
                <tbody class="demo_tbody" ng-if="tableList.length<=0">
                    <tr>
                        <td class="textAlignCenter" colspan="6">没有相关数据</td>
                    </tr>
                </tbody>
                <tbody class="course_tbody" ng-if="tableList">
                    <tr ng-repeat="x in tableList">
                        <td class="clickText" ng-click="gotoPartyShop(x.id,'new_eduStatistics/eduAffair_attend')">{{x.name}}</td>
                        <td class="textAlignCenter">{{x.rollCallTimes}}</td>
                        <td class="textAlignCenter">{{x.studentTotal}}</td>
                        <td class="textAlignCenter">{{x.absentTotal}}</td>
                        <td class="textAlignCenter">{{x.leaveTotal}}</td>
                        <td class="textAlignCenter">{{x.attendanceRate|number:2}}%</td>
                    </tr>
                </tbody>
            </table>
            <table class="table totalTr" ng-if="tableList.length>0"><tbody>
                <tr>
                    <td width="20%">总计</td>
                    <td class="main_color textAlignCenter" width="20%">{{"rollCallTimes" |_total :tableList}}</td>
                    <td class="main_color textAlignCenter" width="20%">{{"studentTotal" |_total :tableList}}</td>
                    <td class="main_color textAlignCenter" width="20%">{{"absentTotal" |_total :tableList}}</td>
                    <td class="main_color textAlignCenter" width="20%">{{"leaveTotal" |_total :tableList}}</td>
                    <td class="main_color textAlignCenter" width="20%">{{(("studentTotal" |_total :tableList)/(("studentTotal" |_total :tableList)+("absentTotal" |_total :tableList)+("leaveTotal" |_total :tableList)))*100 |number:2}}%</td>
                </tr>
            </tbody></table>
        </div>
    </div>
</div>
