<div class="new_common_title {{ismenuOoen?'':'isclosed_'}}">
    <div class="back_icon icon_return" ng-click="toStatistics()">消课金额详情</div>
</div>
<div class="common_body new_summary_body">
     <div class="tab_nav">
        <span ng-click="switchStudNav(1)" ng-class="{tab_nav_show: studNavJud==1}">课时消课</span>
        <span ng-click="switchStudNav(2)" ng-class="{tab_nav_show: studNavJud==2}">按月消课</span>
    </div>
    
    <div class="common_content organ">
        <div class="common_tab" style="margin-bottom: 15px;padding-bottom: 15px; border-bottom: 1px solid #ccc;">
            <ul class="ul_left clearfix">
                <li>
                    <input type="text" class="form-control dateIcon" id="searchTime" size="30" ng-model="searchTime" value="" placeholder="请选择时间段"  autocomplete="off" >
                </li>
                <li>
                    <my-select list-name="省" list-data="{{provincesList['0']}}" list-field="" list-click="searchByProv(n, i)" list-search="false" list-sort="false"></my-select>
                </li>
                <li>
                    <my-select list-name="市" list-data="{{cityList}}" list-field="" list-click="searchByCity(n)" list-search="false" list-sort="false"></my-select>
                </li>
                <li>
                    <my-select list-name="所属校区" list-data="{{shooList}}" list-field="shopName" list-click="searchByShop(n)" list-search="false"></my-select>
                </li>
                <li class="margin_lf_15">
                    <label class="search_checkbox">
                        <input type="checkbox" class="checkbox-inline labelLeft" ng-model="compareType" ng-change="chargeType(true)">一对一
                    </label>
                </li>
                <li class="margin_lf_15">
                    <label class="search_checkbox">
                        <input type="checkbox" class="checkbox-inline labelLeft" ng-model="compareType1" ng-change="chargeType(false)">一对多
                    </label>
                </li>
                <!--<li class="margin_lf_15 part_leftLine">
                    <label class="search_checkbox">
                        <input type="checkbox" class="checkbox-inline labelLeft" ng-checked="classType == '0,1,2'" ng-click="changeClass($event,'0,1,2')">标准班
                    </label>
                </li>-->
                <li class="margin_lf_15">
                    <label class="search_checkbox">
                        <input type="checkbox" class="checkbox-inline labelLeft" ng-checked="activityStatus == 1" ng-click="changeClass($event,1)">活动班
                    </label>
                </li>
                 <li class="screen_onreset clickText margin_lf_15" ng-click="onReset()">重置</li>
            </ul>
        </div>
        <div class="main_content">
            <div class="common_tab">
                <ul class="ul_left clearfix">
                    <li class="li_left date" style="margin-left:0;">
                        <ul>
                            <li ng-click="switchStudNav_(0)" ng-class='{tab_active: studNavJud_==0}'>日</li>
                            <li ng-click="switchStudNav_(1)" ng-class='{tab_active: studNavJud_==1}'>周</li>
                            <li ng-click="switchStudNav_(2)" ng-class='{tab_active: studNavJud_==2}'>月</li>
                        </ul>
                    </li>
                    <li class="li_left margin_lf_15">
                        <my-select list-name="统计类别" my-id="class_type" list-data="{{screen_classType}}" list-field="name" list-click="changeClassType(n)"  list-all="no" list-sort="false" list-defalut="{{typeName}}"></my-select>
                    </li>
                     <!--<li class="li_left">
                        <my-select list-name="按时间" my-id="by_type" list-data="{{screen_time}}" list-field="name" list-click="clickTime(n)"  list-all="no" list-defalut="{{xiaoKe.time}}"></my-select>
                    </li>-->
                   
                </ul>
            </div>
            <!--统计图-->
            <div class="summary_classify">
                <div class="summary_classify_d1" >
                    <span>单位:&nbsp;元&nbsp;&nbsp;&nbsp;</span>
                </div>
            </div>
            <div class="main_echart">
                <div class="show_echart" id="mainechart">
                    <!--echart统计图  容器-->
                </div>
            </div>
        </div>
        <div class="table-responsivecharge_table">
            <ul class="ul_left clearfix">
                <li class="newHelp_before" style="padding-left: 20px;margin-top:6px;">
                   <span>统计规则 </span>
                   <div style="top:0;" class="help_icon noneWidth" data-tips="实消金额：按上课时间统计，各校区学员点名“到课”耗课的金额之和<br>
缺席扣费：按上课时间统计，各校区学员点名“缺席”耗课的金额之和<br>
请假扣费：按上课时间统计，各校区学员点名“请假”耗课的金额之和<br>
合计：实消金额+缺席扣费+请假扣费"></div>
                </li>
                <li class="common_tab_libtn" style="float: right;">
                    <div class="common_tab_btn" ng-click="export_config()"><i class="icon_shiting"></i>导出数据</div>
                </li>
            </ul>
            <table class="table" style="margin-bottom:0">
                <thead my-thead="{{teacListThead}}" list-clicks="sortCllict0(data)"></thead>
                <tbody class="demo_tbody" ng-if="tableList.length<=0">
                    <tr>
                        <td class="textAlignCenter" colspan="5">没有相关数据</td>
                    </tr>
                </tbody>
                <tbody class="course_tbody" ng-if="tableList">
                    <tr ng-repeat="x in tableList">
                       <td class="clickText" ng-click="gotoPartyShop(x.shopId,'financeStatistics/used_money_bytime')">{{x.data1}}</td>
                        <td class="textAlignCenter">￥{{x.data2|number:2}}</td>
                        <td class="textAlignCenter">￥{{x.data3|number:2}}</td>
                        <td class="textAlignCenter">￥{{x.data4|number:2}}</td>
                        <td class="textAlignCenter">￥{{x.total|number:2}}</td>
                    </tr>
                </tbody>
            </table>
            <table class="table totalTr" ng-if="tableList.length>0"><tbody>
                <tr>
                    <td width="20%">总计</td>
                    <td width="20%"class="textAlignCenter main_color">￥{{"data2" |_total :tableList|number:2}}</td>
                    <td width="20%"class="textAlignCenter main_color">￥{{"data3" |_total :tableList|number:2}}</td>
                    <td width="20%"class="textAlignCenter main_color">￥{{"data4" |_total :tableList|number:2}}</td>
                    <td width="20%"class="textAlignCenter main_color">￥{{"total" |_total :tableList|number:2}}</td>
                </tr>
            </tbody></table>
        </div>
    </div>
</div>
