<div class="new_common_title {{ismenuOoen?'':'isclosed_'}}">
    <div class="back_icon icon_return" ng-click="toStatistics()">工作概况详情</div>
</div>
<div class="common_body new_summary_body">
    <div class="common_content organ">
        <div class="common_tab" style="margin-bottom: 15px;padding-bottom: 15px; border-bottom: 1px solid #ccc;">
            <ul class="ul_left clearfix">
                <li>
                    <input type="text" class="form-control dateIcon" id="searchTime" size="30" ng-model="searchTime" value="" placeholder="请选择时间段"  autocomplete="off" >
                </li>
                <li class="li_left" style="margin-left:5px;">
                    <my-select list-name="渠道类型" list-data="{{screen_channelType}}" list-field="channelTypeName" list-click="changeChannelType(n)"></my-select>
                </li>
                <!--<li class="li_left" style="margin-left:5px;" ng-show="hasChannel2">
                    <my-select my-id="channel2" list-name="请选择来源" list-data="{{screen_channelType2}}" list-field="channelName" list-click="changeChannelType2(n)"></my-select>
                </li>-->
                <li class="margin_lf_15">
                    <my-select list-name="省" list-data="{{provincesList['0']}}" list-field="" list-click="searchByProv(n, i)" list-search="false" list-sort="false"></my-select>
                </li>
                <li>
                    <my-select list-name="市" list-data="{{cityList}}" list-field="" list-click="searchByCity(n)" list-search="false" list-sort="false"></my-select>
                </li>
                <li>
                    <my-select list-name="所属校区" list-data="{{shooList}}" list-field="shopName" list-click="searchByShop(n)" list-search="false"></my-select>
                </li>
                <li class="screen_onreset clickText margin_lf_15" ng-click="onReset()">重置</li>
            </ul>
        </div>
       
        <div class="main_content">
            <div class="common_tab">
                <ul class="ul_left clearfix">
                    <li class="li_left date" style="margin-left:0;">
                        <ul>
                            <li ng-click="switchStudNav_(0)" ng-class='{tab_active: studNavJud_==0}'>日</li>
                            <li ng-click="switchStudNav_(1)" ng-class='{tab_active: studNavJud_==1}'>周</li>
                            <li ng-click="switchStudNav_(2)" ng-class='{tab_active: studNavJud_==2}'>月</li>
                        </ul>
                    </li>
                    
                    <li class="li_left margin_lf_15">
                        <my-select my-id="class_type" list-name="新增名单" list-data="{{screen_namelist}}" list-field="name" list-click="changeNameStatus(n)"  list-all="no" list-sort="false"></my-select>
                    </li>
                </ul>
            </div>
            <!--统计图-->
            <div class="summary_classify">
                <div class="summary_classify_d1" >
                    <span>单位:&nbsp;{{name2 == "报课金额"?"元":"人"}}&nbsp;&nbsp;&nbsp;</span>
                </div>
            </div>
            <div class="main_echart">
                <div class="show_echart" id="mainechart">
                    <!--echart统计图  容器-->
                </div>
            </div>
        </div>
        <div class="table-responsivecharge_table">
            <ul class="ul_left clearfix">
                <li class="newHelp_before" style="padding-left: 20px;">
                   <span>统计规则 </span>
                   <div style="top:0;" class="help_icon noneWidth" data-tips="新增名单：按名单录入时间统计，各校区新增名单的人数之和（包含带到访人数）<br>
有效名单：按名单操作时间统计，各校区名单状态为“预约、延期”的人数之和<br>
无效名单：按名单操作时间统计，各校区名单状态为“无效”的人数之和<br>
已转潜客：按名单操作时间统计，各校区名单转为潜客的人数之和<br>
已签约：按订单时间统计，各校区名单转为潜客并签约的人数之和<br>
报课金额：按订单时间统计，各校区名单转为潜客并签约的应收金额之和"></div>
                </li>
                <li class="common_tab_libtn" style="float: right;">
                    <div class="common_tab_btn" ng-click="export_config()"><i class="icon_shiting"></i>导出数据</div>
                </li>
            </ul>
            <table class="table" style="margin-bottom:0;">
                <thead my-id="head" my-thead="{{teacListThead}}" list-clicks="sortCllict0(data)"></thead>
                <tbody class="demo_tbody" ng-if="tableList.length<=0">
                    <tr>
                        <td class="textAlignCenter" colspan="7">没有相关数据</td>
                    </tr>
                </tbody>
                <tbody class="course_tbody" ng-if="tableList">
                    <tr ng-repeat="x in tableList">
                        <td class="clickText" ng-click="gotoPartyShop(x.id,'new_marketStatistics/billCollector')">{{x.name}}</td>
                        <td class="textAlignCenter">{{x.addRosterNum}}</td>
                        <td class="textAlignCenter">{{x.effectiveRosterNum}}</td>
                        <td class="textAlignCenter">{{x.invalidRosterNum}}</td>
                        <!--<td class="textAlignCenter">{{x.toVisitNum}}</td>-->
                        <td class="textAlignCenter">{{x.toPotentialCustomerNum}}</td>
                        <td class="textAlignCenter">{{x.toContractNum}}</td>
                        <td class="textAlignCenter">￥{{x.contractPriceTotal|number:2}}</td>
                    </tr>
                </tbody>
            </table>
            <table class="table totalTr" ng-if="tableList.length>0"><tbody>
                <tr>
                    <td width="12.5%">总计</td>
                    <td width="12.5%"class="textAlignCenter main_color">{{"addRosterNum" |_total :tableList}}</td>
                    <td width="12.5%"class="textAlignCenter main_color">{{"effectiveRosterNum" |_total :tableList}}</td>
                    <td width="12.5%"class="textAlignCenter main_color">{{"invalidRosterNum" |_total :tableList}}</td>
                    <!--<td width="12.5%"class="textAlignCenter main_color">{{"toVisitNum" |_total :tableList}}</td>-->
                    <td width="12.5%"class="textAlignCenter main_color">{{"toPotentialCustomerNum" |_total :tableList}}</td>
                    <td width="12.5%"class="textAlignCenter main_color">{{"toContractNum" |_total :tableList}}</td>
                    <td width="12.5%"class="textAlignCenter main_color">￥{{"contractPriceTotal" |_total :tableList|number:2}}</td>
                </tr>
            </tbody></table>
        </div>
    </div>
</div>
