
<div class="data_view_2">
    <ul>
        <li class="padding_rg_10">
            <div class="collect_map_con">
                <h2 class="collect_map_head">
                    <span>工作概况</span>
                    <p><em class="collect_head_ps" ng-click="mapClick(1, 1, $event)">近7天</em><em ng-click="mapClick(1, 2, $event)">近30天</em><strong ng-click="routerGo(1)">查看详情 ></strong></p>
                </h2>
                <p>单位:人</p>
                <div id="mainechart_1">
                    
                </div>
            </div>
        </li>
        <li class="padding_rg_10">
            <div class="collect_map_con">
                <h2 class="collect_map_head">
                    <span>名单来源分析</span>
                    <p><em class="collect_head_ps" ng-click="mapClick(2, 1, $event)">近7天</em><em ng-click="mapClick(2, 2, $event)">近30天</em><strong class="pull-right" style="margin-right:15px;" ng-click="routerGo(2)">查看详情 ></strong></p>
                </h2>
                <p>单位:%</p>
                <div id="mainechart_2">
                    
                </div>
            </div>
        </li>
    </ul>
</div>