<!--弹框-->
<div class="shade_ center_shade">
	<div class="class_shade_content">
		<h6>编辑资料</h6>
		<form class="form-horizontal shade_middle_form" role="form" ng-submit="addClassRoom()">
			<div class="form-group">
				<label class="control-label col-xs-2">上传图片：</label>
				<div class="col-xs-4">

				</div>
				<div class="col-xs-6">

				</div>
			</div>
			<div class="shade_btn">
				<button class="btn cancel" ng-click="classreset()" type="button">取消</button>
				<button class="btn sure" type="submit">确定</button>
			</div>
		</form>
	</div>
</div>

<!--body-->
<div class="common_body">
	<div class="center_content">
		<div name="banner+logo">
			<div class="banner"><img src="" /></div>
			<div class="logo"><img src="" /></div>
		</div>
		<h4></h4>
		<p></p>
		<p></p>
		<div class="">编辑</div>
	</div>
</div>