@charset "utf-8";
.summer_2_con {
    position: relative;
    width: 100%;
    background-color: #C2DBF7;
    font-size: 0.28rem;
}
.b_bg {
    display: block;
    width: 100%;
}
.b_banner_con {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.b_peo{
    margin-top:8.7rem;
    font-size:0.28rem;
}
.b_peo img {
    float: left;
    width: 0.88rem;
    height: 0.88rem;
    margin: 0.53rem  0.22rem;
    border-radius: 50%;
}
.b_peo div {
    color: #fff;
    padding-top: 0.48rem;
    line-height: 0.4rem;
}
.b_peo div span {
    color: #305B6E;
    font-size: 0.28rem;
}
.b_tit {
    margin: 0.47rem 0 0.3rem;
}
.b_tit p {
    width:5.74rem;
    margin: 0 auto;
    font-size: 0.42rem;
    text-align: center;
    background:url("../img/title_bg.png") no-repeat;
    background-size: 100% 100%;
    height:1.55rem;
    line-height: 1.55rem;
    color: #448117;
}
.b_time {
    width: 5.4rem;
    height: 0.6rem;
    margin: 0 auto;
    color: #fff;
}
.b_time span{
    color: #3E829E;
}
.pos_imgs {
    position: relative;
    width: 100%;
    margin-top: 0.4rem;
}

.b_btn {
    position: absolute;
    top: 10.9rem;
    left: 0;
    width: 100%;
}
.b_btn_1 {
    display: block;
    width: 2.2rem;
    height: 0.76rem;
    margin: 0 auto;
    padding-bottom: 0.05rem;
    border: none;
    background: url("../img/btn.png") no-repeat;
    background-size: 100% 100%;
    color: #fff;
    text-align: center;
    line-height: 0.87rem;
    font-weight: bold;
    cursor: pointer;
}
.b_prize, .b_rule, .b_logs, .b_joins, .b_organ {
    position: relative;
    width: 7rem;
    margin: 1.6rem auto 0;
    padding: 0.2rem;
    background-color: #ADD0F7;
    border-radius: 0.05rem;
}
.pos_ele_2{
    margin-top:2rem;
}
.pos_ele_3 .icon1{
    width: 1.68rem;
    height: 0.78rem;
    background: url(../img/keng1.png) no-repeat;
    background-size: contain;
    position: absolute;
    left: -1.2rem;
    top: -1.7rem;
}
.pos_ele_3 .icon2{
    width: 0.91rem;
    height: 1.18rem;
    background: url(../img/tuzi1.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    right: -0.3rem;
    top: -1.3rem;
}
.pos_ele_6 .icon1{
    width: 1.64rem;
    height: 0.78rem;
    background: url(../img/keng1.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    right: -0.6rem;
    top: -1.8rem;
}
.pos_ele_6 .icon2{
    width: 0.91rem;
    height: 0.51rem;
    background: url(../img/keng2.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: -0.3rem;
    top: -1.7rem;
}
.pos_ele_6 .icon3{
    width: 1.09rem;
    height: 1.06rem;
    background: url(../img/tuzi3.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: -0.4rem;
    top: -1.1rem;
}
.pos_ele_7 .icon1{
    width: 0.91rem;
    height: 0.51rem;
    background: url(../img/keng2.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    right: -0.6rem;
    top: -1.8rem;
}
.pos_ele_7 .icon2{
    width: 1.64rem;
    height: 0.78rem;
    background: url(../img/keng1.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: -0.8rem;
    top: -1.7rem;
}
.pos_ele_7 .icon3{
    width: 1.09rem;
    height: 1.06rem;
    background: url(../img/tuzi1.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 2.8rem;
    top: -1.9rem;
}
.pos_ele_4 .icon1{
    width: 1.47rem;
    height: 1.29rem;
    background: url(../img/tuzi2.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    right: -0.55rem;
    top: -1.6rem;
    z-index: 2;
}
.pos_ele_5 .icon1{
    width: 1.5rem;
    height: 1.78rem;
    background: url(../img/tuzi1.png) no-repeat;
    background-size: contain;
    position: absolute;
    right: 0;
    top: 0.8rem;
}
.pos_ele_5 .icon2{
    width: 1.09rem;
    height: 1.06rem;
    background: url(../img/tuzi3.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
}
.b_box {
    position: relative;
    width: 100%;
    min-height: 4.2rem;
    padding: 0.3rem;
    background-color: #FFE580;
}
.b_box p {
    color: #090806;
    font-size: 0.3rem;
    text-shadow: 0 0 0 #23987E;
}
.b_box img {
    display: block;
    width: 100%;
    margin:0.25rem 0;
}
.b_con_tit_prize,.b_con_tit_role,.b_con_tit_bang,.b_con_tit_rank,.b_con_tit_organ{
    position: absolute;
    width: 5.54rem;
    height: 0.92rem;
    top: -1.38rem;
    left: 0.55rem;
    font-size: 0.36rem;
    color: #090806;
    line-height: 1.26rem;
    text-align: center;
    background: url("../img/box_title.png") no-repeat;
    background-size: 100% 100%;
    z-index: 1;
}
.b_nodata {
    width: 100%;
    height: 4.2rem;
    color: #F280A7;
    line-height: 4.2rem;
    text-align: center;
}
.copyright {
    position: relative;
    width: 100%;
    font-size: 0.28rem;
    padding: 0.6rem 0 0.3rem;
    color: #55616A;
}
.copyright p {
    text-align: center;
    line-height: 0.34rem;
    margin-top: 0.13rem;
}
.copyright_erweima {
    overflow: hidden;
    width: 1.8rem;
    height: 1.8rem;
    margin: 0.19rem auto;
    display: block;
}
.copyright_erweima img {
    display: block;
    width: 100%;
    height: 100%;
}
/*音乐*/
.r_music {
    position: absolute;
    right: 0.3rem;
    top: 0.3rem;
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
    background: url("../../../bargain/redEnvelopesMonster/img/music_off.png") no-repeat;
    background-size: contain;
    cursor: pointer;
}
/*旋转*/
.music_rotate {
    background: url("../../../bargain/redEnvelopesMonster/img/music_on.png") no-repeat;
    background-size: contain;
    transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -moz-transform-origin: center center;
    -webkit-transform-origin: center center;
    -o-transform-origin: center center;
    transform-origin: center center;
    animation: mu_sport 3s linear 0s infinite;
    -webkit-animation: mu_sport 3s linear 0s infinite;
    -o-animation: mu_sport 3s linear 0s infinite;
}
@keyframes mu_sport {
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}
@keyframes mu_sport {
    from{-moz-transform: rotate(0deg);}
    to{-moz-transform: rotate(360deg);}
}
@keyframes mu_sport {
    from{-o-transform: rotate(0deg);}
    to{-o-transform: rotate(360deg);}
}
@keyframes mu_sport {
    from{-webkit-transform: rotate(0deg);}
    to{-webkit-transform: rotate(360deg);}
}
.linght1{
    color: #fff;
    font-size: 0.48rem;
    line-height: 1.19rem;
    text-align: center;
    width:1.06rem;
    height:1.19rem;
    background: url("../img/linght1.png") no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 3rem;
    left: 1.3rem;
}
.linght2{
    color: #fff;
    font-size: 0.48rem;
    line-height: 1.19rem;
    text-align: center;
    width:1.06rem;
    height:1.19rem;
    background: url("../img/linght2.png") no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top:3rem;
    left:3rem;
}
.linght3{
    color: #fff;
    font-size: 0.48rem;
    line-height: 1.19rem;
    text-align: center;
    width:1.06rem;
    height:1.19rem;
    background: url("../img/linght3.png") no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 3rem;
    left: 4.6rem;
}
.linght4{
    color: #fff;
    font-size: 0.48rem;
    line-height: 1.19rem;
    text-align: center;
    width:1.06rem;
    height:1.19rem;
    background: url("../img/linght4.png") no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 4.5rem;
    left: 2.2rem;
}
.linght5{
    color: #fff;
    font-size: 0.48rem;
    line-height: 1.19rem;
    text-align: center;
    width:1.06rem;
    height:1.19rem;
    background: url("../img/linght5.png") no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 4.6rem;
    left: 3.8rem;
}
.linght6{
    color: #fff;
    font-size: 0.48rem;
    line-height: 1.19rem;
    text-align: center;
    width:1.06rem;
    height:1.19rem;
    background: url("../img/linght6.png") no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 4.8rem;
    left: 5.5rem
}
.copyright p:last-child{
    width:6.08rem;
    height:0.65rem;
    background: url(https://cdn.yizhiniao.com/yzncopyright.png) no-repeat;
    background-size: contain;
    margin :0.6rem auto 0 !important;
}
