<!--预警设置-->
<!-- <div class="popup_" id="renew_set">needdel__cz
    <div class="popup_content">
        <form class="popup_form" ng-submit="deterRenew()">
            <div class="popup_form_content" style="max-height:400px;">
                <div class="popup_scroll" isScroll="true">
                    <div class="popup_line">
                        <label for="" class="form-label">预警设置:</label>
                        <div class="col-xs-7 newHelp_after">
                            上课前 <input type="text" ng-model="bookingTime" class="form-control width45" oninput="value=value.replace(/[^\d.]/g,'') " required/> 小时关闭取消预约；学员低于 <input type="text" ng-model="bookingPercent" class="form-control width45" yzn-filter="percent"
                                required/> %时提醒预警
                            <div class="help_icon" data-tips="班级最大人数×预警百分比，低于预警人数时将提示预警。"></div>
                        </div>
                    </div>
                    <div class="popup_line">
                        <label for="" class="form-label">预警班级:</label>
                        <span class="col-xs-3 form-span icon_name_add bef_mg_0" ng-click="$root.yznOpenPopUp(this, 'course-sel', 'choseClass', '1060px', {name: 'class', type: 'checkbox', bookingStatus:'0', teachingMethod:'2',courseType:'0',screen_classType: '0', callBackName: '预警班级'})">添加可约课班级</span>
                    </div>
                    <div class="popup_table" ng-if="selClassList.length > 0">
                        <table class="popup_table_head">
                            <thead>
                                <tr>
                                    <th>班级</th>
                                    <th class="textAlignRt">最大人数</th>
                                    <th class="textAlignRt">预警人数</th>
                                    <th class="textAlignCenter">操作</th>
                                </tr>
                            </thead>
                            <tbody class="roll_tbody">
                                <tr ng-repeat="x in selClassList">
                                    <td>{{x.className}}</td>
                                    <td class="textAlignRt">{{x.classMax}}</td>
                                    <td class="textAlignRt">{{x.classMax*bookingPercent/100|floor}}</td>
                                    <td class="textAlignCenter"><span class="icon_roll_state_del" ng-click="delCourse(x, $index)"></span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="popup_btn">
                <button class="btn cancel" ng-click="closePop()" type="button">取消</button>
                <button class="btn sure" type="submit">确定</button>
            </div>
        </form>
    </div>
</div> -->
<div class="common_body stud_common">
    <div class="tab_nav">
        <span ng-click="switchStudNav(1)" ng-class="{tab_nav_show: studNavJud==1}">约课预警</span>
        <span ng-click="switchStudNav(2)" ng-class="{tab_nav_show: studNavJud==2}">约课记录</span>
    </div>
    <!-- 搜索 -->
    <div class="common_tab">
        <ul class="ul_left clearfix">
            <!--<li>
                <input type="text" class="form-control dateIcon" id="searchTime" size="30" ng-model="searchTime" placeholder="请选择上课时间"  autocomplete="off" >
            </li>-->
            <li>
                <my-select list-name="课程" list-data="{{courseList}}" list-field="courseName" list-click="courseSelect(n)" list-search="true"></my-select>
            </li>
            <li>
                <my-select list-name="班级" list-data="{{classList}}" list-field="className" list-click="classSelect(n)" list-search="true"></my-select>
            </li>
            <li class="common_tab_libtn" ng-show="'173' | _authId">
                <div class="common_tab_btn" ng-click="routerSkip('setManageEdu',{ tab:1,before:'edu_aboutClass' })"><i class="icon_setWarn"></i>预警设置</div>
            </li>
            <li class="screen_onreset clickText" ng-click="onReset()">重置</li>
        </ul>
    </div>

    <!-- 列表 -->
    <div class="common_content">
        <div class="table-responsivecharge_table">
            <table class="table table-hover tableNoneRightborder">
                <thead my-thead="{{classListThead}}" list-clicks="sortCllict(data)"></thead>
                <tbody class="demo_tbody" ng-if="yuekeList==''">
                    <tr>
                        <td class="textAlignCenter" colspan="8">没有相关数据</td>
                    </tr>
                </tbody>
                <tbody class="course_tbody">
                    <tr ng-click="tableTr(x)" ng-repeat="x in yuekeList">
                        <td>
                            <span title="{{x.arrangingCourses.arrangingCoursesBeginDate | beginEndDate: x.arrangingCourses.arrangingCoursesEndDate: 'yyWeek_hh' : x.arrangingCourses.arrangingCoursesWeek}}">{{x.arrangingCourses.arrangingCoursesBeginDate | beginEndDate: x.arrangingCourses.arrangingCoursesEndDate: 'yyWeek_hh' : x.arrangingCourses.arrangingCoursesWeek}}</span>
                        </td>
                        <td title="{{x.classInfo.className}}">{{x.classInfo.className}}</td>
                        <td title="{{x.course.courseName}}">{{x.course.courseName}}</td>
                        <td title="{{x.classRoom.classRoomName}}">{{x.classRoom.classRoomName}}</td>
                        <td title="{{x.arrangingCoursesTheme.courseThemeName}}">{{x.arrangingCoursesTheme.courseThemeName}}</td>
                        <td class="textAlignRt">{{x.warnStudentTotal}}</td>
                        <td class="textAlignRt">{{x.studentCount}}/{{x.classInfo.classMax}}</td>
                        <td class="operate overflow-normal textAlignCenter">
                            <span class="clickText" ng-click="deletePaike(x)" ng-if="operateBook">删除排课</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="pagitionDiv">
        <div class="M-box3"></div>
    </div>
</div>