@charset "utf-8";
.flicker div, .flicker p, .flicker span, .flicker em, .flicker var, .flicker strong {
    font-size: 0.28rem;
    font-style: inherit;
    font-weight: normal;
}
.group_flicker {
    background-color: #FFDD07;
}
.g_1, .g_2, .g_3, .g_4, .g_5 {
    overflow: hidden;
    position: relative;
    width: 100%;
}
.g_1_bg {
    width: 100%;
}
.g_1_bg_img {
    display: block;
    width: 100%;
}
.g_1_con {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.s_img1 {
    position: absolute;
    top: 0.8rem;
    left: 1.2rem;
    width: 5.25rem;
    height: 5.65rem;
    background: url("../img/img1.png") no-repeat;
    background-size: contain;
    transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -moz-transform-origin: center center;
    -webkit-transform-origin: center center;
    -o-transform-origin: center center;
    transform-origin: center center;
    animation: img1 0.6s ease infinite alternate-reverse;
    -webkit-animation: img1 0.6s ease infinite alternate-reverse;
    -o-animation: img1 0.6s ease infinite alternate-reverse;
}
@keyframes img1 {
    from{transform: scale(0.7) rotate(40deg);}
    to{transform: scale(1.1) rotate(0deg);}
}
@keyframes img1 {
    from{-moz-transform: scale(0.7) rotate(40deg);}
    to{-moz-transform: scale(1.1) rotate(0deg);}
}
@keyframes img1 {
    from{-o-transform: scale(0.7) rotate(40deg);}
    to{-o-transform: scale(1.1) rotate(0deg);}
}
@keyframes img1 {
    from{-webkit-transform: scale(0.7) rotate(40deg);}
    to{-webkit-transform: scale(1.1) rotate(0deg);}
}
.s_img2 {
    position: absolute;
    top: 0;
    right: 0;
    width: 2.44rem;
    height: 3.28rem;
    background: url("../img/img2.png") no-repeat;
    background-size: contain;
    transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -moz-transform-origin: top right;
    -webkit-transform-origin: top right;
    -o-transform-origin: top right;
    transform-origin: top right;
    animation: img2 0.6s ease infinite alternate-reverse;
    -webkit-animation: img2 0.6s ease infinite alternate-reverse;
    -o-animation: img2 0.6s ease infinite alternate-reverse;
}
@keyframes img2 {
    from{transform: scale(1); top: 0rem; right: 0rem;}
    to{transform: scale(0.8); top: -0.2rem; right: -0.2rem;}
}
@keyframes img2 {
    from{-moz-transform: scale(1); top: 0rem; right: 0rem;}
    to{-moz-transform: scale(0.8); top: -0.2rem; right: -0.2rem;}
}
@keyframes img2 {
    from{-o-transform: scale(1); top: 0rem; right: 0rem;}
    to{-o-transform: scale(0.8); top: -0.2rem; right: -0.2rem;}
}
@keyframes img2 {
    from{-webkit-transform: scale(1); top: 0rem; right: 0rem;}
    to{-webkit-transform: scale(0.8); top: -0.2rem; right: -0.2rem;}
}
.s_img3 {
    position: absolute;
    top: 4.6rem;
    right: 0;
    width: 2.42rem;
    height: 3.57rem;
    background: url("../img/img3.png") no-repeat;
    background-size: contain;
    transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -moz-transform-origin: bottom right;
    -webkit-transform-origin: bottom right;
    -o-transform-origin: bottom right;
    transform-origin: bottom right;
    animation: img3 0.6s ease infinite alternate-reverse;
    -webkit-animation: img3 0.6s ease infinite alternate-reverse;
    -o-animation: img3 0.6s ease infinite alternate-reverse;
}
@keyframes img3 {
    from{transform: scale(1); bottom: 0rem; right: 0rem;}
    to{transform: scale(0.8); bottom: -0.2rem; right: -0.2rem;}
}
@keyframes img3 {
    from{-moz-transform: scale(1); bottom: 0rem; right: 0rem;}
    to{-moz-transform: scale(0.8); bottom: -0.2rem; right: -0.2rem;}
}
@keyframes img3 {
    from{-o-transform: scale(1); bottom: 0rem; right: 0rem;}
    to{-o-transform: scale(0.8); bottom: -0.2rem; right: -0.2rem;}
}
@keyframes img3 {
    from{-webkit-transform: scale(1); bottom: 0rem; right: 0rem;}
    to{-webkit-transform: scale(0.8); bottom: -0.2rem; right: -0.2rem;}
}
.s_img4 {
    position: absolute;
    top: 5.45rem;
    left: 0;
    width: 3.22rem;
    height: 3.15rem;
    background: url("../img/img4.png") no-repeat;
    background-size: contain;
    transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -moz-transform-origin: bottom left;
    -webkit-transform-origin: bottom left;
    -o-transform-origin: bottom left;
    transform-origin: bottom left;
    animation: img4 0.6s ease infinite alternate-reverse;
    -webkit-animation: img4 0.6s ease infinite alternate-reverse;
    -o-animation: img4 0.6s ease infinite alternate-reverse;
}
@keyframes img4 {
    from{transform: scale(1); bottom: 0rem; right: 0rem;}
    to{transform: scale(0.8); bottom: -0.2rem; right: -0.2rem;}
}
@keyframes img4 {
    from{-moz-transform: scale(1); bottom: 0rem; right: 0rem;}
    to{-moz-transform: scale(0.8); bottom: -0.2rem; right: -0.2rem;}
}
@keyframes img4 {
    from{-o-transform: scale(1); bottom: 0rem; right: 0rem;}
    to{-o-transform: scale(0.8); bottom: -0.2rem; right: -0.2rem;}
}
@keyframes img4 {
    from{-webkit-transform: scale(1); bottom: 0rem; right: 0rem;}
    to{-webkit-transform: scale(0.8); bottom: -0.2rem; right: -0.2rem;}
}
.s_img5 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 8.29rem;
    background: url("../img/img8.png") no-repeat;
    background-size: contain;
}
.s_img6 {
    position: absolute;
    top: 3.6rem;
    right: 0;
    width: 1.79rem;
    height: 1.69rem;
    background: url("../img/img6.png") no-repeat;
    background-size: contain;
}
.s_img7 {
    position: absolute;
    top: 0;
    left: 0;
    width: 3.91rem;
    height: 4.9rem;
    background: url("../img/img5.png") no-repeat;
    background-size: contain;
}
.s_img8 {
    position: absolute;
    top: -1rem;
    left: 0.6rem;
    width: 3rem;
    height: 3.1rem;
    background: url("../img/img5.png") no-repeat;
    background-size: contain;
}
.g_1_con {
    padding-top: 6.47rem;
}
.g_1_box {
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
}
.g_1_box h2 {
    height: 1.03rem;
}
.g_1_box h2 p {
    float: left;
    width: 25%;
    color: #fff;
}
.g_1_box h2 p strong, .g_1_box h2 p em {
    display: block;
    text-align: center;
    font-size: 0.24rem;
}
.g_1_box h2 p strong {
    font-size: 0.36rem;
    line-height: 0.64rem;
}
.g_fun {
    position: relative;
    background-color: #fff;
    min-height: 4.61rem;
    padding: 0 0.28rem;
    border-radius: 0.41rem 0.41rem 0 0;
}
.g_1_time {
    position: absolute;
    right: 0;
    top: 0.15rem;
    width: 3.5rem;
    height: 0.53rem;
    padding-left: 0.17rem;
    background-color: #F7C720;
    color: #fff;
    border-radius: 0.27rem 0 0 0.27rem;
    line-height: 0.53rem;
}
.g_1_time strong, .g_1_time span {
    font-size: 0.2rem;
}
.g_1_price {
    height:0.85rem;
    line-height:0.85rem;
    color: #DD4D41;
}
.g_1_price strong {
    float: left;
    margin-right: 0.1rem;
    font-size: 0.4rem;
    font-weight: bold;
}
.g_1_price em {
    float: left;
    color: #ccc;
    font-size: 0.24rem;
    text-decoration: line-through;
}
.g_1_tit {
    position: relative;
}
.g_1_tit p {
    font-size: 0.36rem;
}
.g_1_tit p span {
    float: left;
    height: 0.3rem;
    background-color: #DD4D41;
    padding: 0 0.04rem;
    margin: 0.1rem 0.11rem 0 0;
    color: #fff;
    border-radius: 0.04rem;
    line-height: 0.3rem;
    font-size: 0.2rem;
}
.g_1_tit p strong {
    font-size: 0.36rem;
}
.g_1_peo {
    height:1.4rem;
    padding-top: 0.24rem;
}
.g_1_peo li {
    float: left;
    width: 0.87rem;
    height: 0.87rem;
    border-radius: 50%;
    border: 0.02rem #fff solid;
    margin-left: -0.25rem;
}
.g_1_peo .g_1_peo1 {
    position: relative;
    margin: 0 0.62rem 0 0;
    border: 0.02rem #F7C720 solid;
}
.g_1_peo1 span {
    position: absolute;
    top: -0.24rem;
    right: -0.2rem;
    width: 0.48rem;
    height: 0.41rem;
    background: url("../img/header_icon.png") no-repeat;
    background-size: contain;
}
.g_1_peoM {
    background-color: #F7C720;
    color: #fff;
    text-align: center;
    line-height: 0.87rem;
    font-size: 0.24rem;
}
.g_1_peo li img {
    display: block;
    width: 100%;
    height: 100%;
}
.g_btns {
    height: 0.7rem;
}
.g_btn1 {
    display: block;
    width: 5.3rem;
    height: 0.7rem;
    margin: 0 auto;
    border: none;
    border-radius: 0.32rem;
    background: url("../img/btn3.png") no-repeat;
    background-size: 100% 100%;
    color: #fff;
    font-size: 0.36rem;
    text-align: center;
    line-height: 0.56rem;
    font-weight: bold;
    cursor: pointer;
}
.g_btn2, .g_btn3 {
    float: left;
    width: 2.2rem;
    height: 0.7rem;
    border: none;
    border-radius: 0.32rem;
    background: url("../img/btn1.png") no-repeat;
    background-size: 100% 100%;
    color: #fff;
    font-size: 0.36rem;
    text-align: center;
    line-height: 0.56rem;
    cursor: pointer;
}
.g_btn2 span, .g_btn3 span, .g_btn1 span {
    display: block;
    height: 0.28rem;
    text-align: center;
    line-height: 0.28rem;
    font-size: 0.28rem;
    font-weight: bold;
}
.g_btn2 em, .g_btn3 em, .g_btn1 em {
    display: block;
    height: 0.18rem;
    margin-top: 0.08rem;
    text-align: center;
    line-height: 0.18rem;
    font-size: 0.18rem;
    font-weight: normal;
    font-style: inherit;
}
.g_btn2 {
    margin: 0 0.6rem 0 1rem;
}
.g_btn3 {
    background: url("../img/btn2.png") no-repeat;
    background-size: 100% 100%;
}
.g_btn4 {
    background: url("../img/btn4.png") no-repeat;
    background-size: 100% 100%;
}
.g_btn5 {
    background: url("../img/btn5.png") no-repeat;
    background-size: 100% 100%;
}
.g_1_tips {
    font-size: 0.12rem;
    margin-top: 0.1rem;
    text-align: center;
}
.g_1_tips span {
    font-size: 0.12rem;
    color: #DD4D41;
}
/*音乐*/
.r_music {
    position: absolute;
    right: 0.3rem;
    top: 0.3rem;
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
    background: url("http://cdn.yizhiniao.com/group/goodStart/img/music_off.png") no-repeat;
    background-size: contain;
    cursor: pointer;
}
/*旋转*/
.music_rotate {
    background: url("http://cdn.yizhiniao.com/group/goodStart/img/music_on.png") no-repeat;
    background-size: contain;
    transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -moz-transform-origin: center center;
    -webkit-transform-origin: center center;
    -o-transform-origin: center center;
    transform-origin: center center;
    animation: mu_sport 3s linear 0s infinite;
    -webkit-animation: mu_sport 3s linear 0s infinite;
    -o-animation: mu_sport 3s linear 0s infinite;
}
@keyframes mu_sport {
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}
@keyframes mu_sport {
    from{-moz-transform: rotate(0deg);}
    to{-moz-transform: rotate(360deg);}
}
@keyframes mu_sport {
    from{-o-transform: rotate(0deg);}
    to{-o-transform: rotate(360deg);}
}
@keyframes mu_sport {
    from{-webkit-transform: rotate(0deg);}
    to{-webkit-transform: rotate(360deg);}
}
.g_text {
    width: 7.22rem;
    background-color: #fff;
    border-radius: 0.16rem;
    margin: 0.1rem auto 0.3rem;
    padding: 0 0.36rem 0 0.43rem;
}
.g_text_con {
    min-height: 2.6rem;
    padding-bottom: 0.1rem;
}
.g_text_con p {
    color: #B1592B;
    margin-bottom: 0.15rem;
}
.g_text_con img {
    display: block;
    width: 100%;
    margin-bottom: 0.15rem;
}
.g_head {
    height: 1.11rem;
    background: url("../img/tit1.png")center center no-repeat;
    background-size: auto 0.34rem;
}
.g_head_1 {
    background-image: url("../img/tit1.png");
}
.g_head_2 {
    background-image: url("../img/tit2.png");
}
.g_head_3 {
    background-image: url("../img/tit3.png");
}
.g_head_4 {
    background-image: url("../img/tit4.png");
}
/*正在拼团列表*/
.grop_list li {
    height: 1.18rem;
    color: #BD781A;
    border-bottom: 0.02rem solid #BD781A;
    line-height: 1.18rem;
}
.grop_list li img {
    float: left;
    width: 0.8rem;
    height: 0.8rem;
    margin: 0.19rem 0.15rem 0 0;
    border: 0.03rem solid #BD781A;
    border-radius: 50%;
}
.grop_list li strong {
    overflow: hidden;
    float: left;
    width: 1.8rem;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.grop_list li em {
    float: left;
    margin-right: 0.19rem;
}
.grop_list li span {
    float: left;
    width: 1.52rem;
    height: 0.45rem;
    margin-top: 0.36rem;
    border-radius: 0.23rem;
    background-color: #FE4E01;
    color: #fff;
    text-align: center;
    line-height: 0.45rem;
    cursor: pointer;
}
.grop_list li:last-child {
    border: none;
}
.copyright {
    position: relative;
    width: 100%;
    font-size: 0.28rem;
    padding: 0.6rem 0 0.3rem;
    color: #fff;
}
.copyright p {
    text-align: center;
    line-height: 0.34rem;
    margin-top: 0.13rem;
}
.copyright_erweima {
    overflow: hidden;
    width: 1.8rem;
    height: 1.8rem;
    margin: 0.19rem auto;
    display: block;
}
.copyright_erweima img {
    display: block;
    width: 100%;
    height: 100%;
}
.copyright span {
    position: absolute;
    top: 0.5rem;
    left: 0.22rem;
    width: 1.03rem;
    height: 1.28rem;
}
.copyright em {
    position: absolute;
    top: 0;
    right: 0.22rem;
    width: 1.02rem;
    height: 1rem;
}
.copyright p:last-child{
    width:6.08rem;
    height:0.65rem;
    background: url(https://cdn.yizhiniao.com/yzncopyright.png) no-repeat;
    background-size: contain;
    margin :0.6rem auto 0 !important;
}