@charset "utf-8";
.turntable div, .turntable p, .turntable span {
    font-size: 0.28rem;
}
.turntable>div{
    font-size: 0.28rem;
    position: relative;
    margin-top: 0.6rem;
}
.turntable>div:nth-of-type(1){
    margin-top: 0;
}
.turntable {
    background: url("../img/holy.png") repeat ;
}
.contain_1 {
    position: relative;
    width: 100%;
}
.contain_1 img {
    display: block;
    width: 100%;
}
.contain_1_con {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 0.42rem;
}
.t_peo {
    height: 1.3rem;
    padding-left: 0.25rem;
    color: #fff;
}
.t_peo img {
    float: left;
    width: 0.88rem;
    height: 0.88rem;
    margin: 0.14rem 0.14rem 0 0;
    border-radius: 50%;
}
.t_peo p {
    line-height: 0.38rem;
}
.t_peo p span {
    font-size: 0.36rem;
}
/*音乐*/
.r_music {
    position: absolute;
    right: 0.3rem;
    top: 0.3rem;
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
    background: url("../img/music_off.png") no-repeat;
    background-size: contain;
    cursor: pointer;
}
/*旋转*/
.music_rotate {
    background: url("../img/music_on.png") no-repeat;
    background-size: contain;
    transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -moz-transform-origin: center center;
    -webkit-transform-origin: center center;
    -o-transform-origin: center center;
    transform-origin: center center;
    animation: mu_sport 3s linear 0s infinite;
    -webkit-animation: mu_sport 3s linear 0s infinite;
    -o-animation: mu_sport 3s linear 0s infinite;
}
@keyframes mu_sport {
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}
@keyframes mu_sport {
    from{-moz-transform: rotate(0deg);}
    to{-moz-transform: rotate(360deg);}
}
@keyframes mu_sport {
    from{-o-transform: rotate(0deg);}
    to{-o-transform: rotate(360deg);}
}
@keyframes mu_sport {
    from{-webkit-transform: rotate(0deg);}
    to{-webkit-transform: rotate(360deg);}
}
.t_title {
    width: 5.83rem;
    height: 2.14rem;
    margin: 0 auto;
    padding-top: 0.4rem;
    background: url("../img/t_title.png") no-repeat;
    background-size: 100% 100%;
}
.t_title p {
    width: 5.15rem;
    height: 1.08rem;
    margin: 0 auto;
    color: #ffffff;
    font-size: 0.36rem;
    text-align: center;
}
.t_time {
    width: 100%;
    height: 0.47rem;
    position: absolute;
    top: 4.8rem;
    left: 0;
    border-radius: 0.18rem;
}
.t_time{
    color: #ffffff;
    font-size: 0.24rem;
    text-align: center;
    line-height: 0.47rem;
}
.t_time span {
    display: inline-block;
    color: #FDF57B;
    margin: 0 0.1rem;
}
/*.t_turntable {*/
    /*width: 6.1rem;*/
    /*height: 6.3rem;*/
    /*margin: 0.2rem auto 0.3rem;*/
    /*padding: 0.35rem 0.4rem;*/
    /*border-radius: 0.32rem;*/
    /*background: url(../img/turntable_bac1.png) no-repeat;*/
    /*background-size: 100% 100%;*/
/*}*/
/*.t_turntable_bac2 {*/
    /*background: url(../img/turntable_bac2.png) no-repeat;*/
    /*background-size: 100% 100%;*/
/*}*/
.t_turntable ul {
    width: 110%;
}
.t_turntable li {
    height: 1.86rem;
}
.t_turntable li span {
    position: relative;
    float: left;
    width: 1.68rem;
    height: 1.77rem;
    margin: 0.045rem;
    background: url("../img/small_box.png") no-repeat;
    background-size: contain;
    color: #C25301;
    text-align: center;
}
.t_turntable li .turntable_btn {
    background: url("../img/small_box2.png") no-repeat;
    background-size: contain;
}
.t_turntable li i {
    display: block;
    padding-top: 0.2rem;
    font-size: 0.56rem;
    font-weight: bold;
    font-style: normal;
}
.t_turntable li var {
    font-size: 0.36rem;
    font-style: normal;
}
.t_turntable li b {
    display: block;
    font-size: 0.36rem;
}
.t_turntable em {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0.12rem;
    background-color: rgba(0, 0, 0, 0.5);
}
.t_turntable .small_box_show em {
    display: none;
}
.t_btn {
    position: absolute;
    display: block;
    width: 2.7rem;
    height: 1.1rem;
    margin: 0 auto;
    border: none;
    background: url('../img/t_btn.png') no-repeat;
    background-size: contain;
    top: 9.8rem;
    left: 2.4rem;
}
.t_tit {
    width: 3.16rem;
    height: 0.66rem;
    position: absolute;
    top: -0.2rem;
    left: 2rem;
    z-index: 2;
}
.t_tit1 {
    background: url("../img/t_tit (1).png") no-repeat;
    background-size: cover
}
.t_tit2 {
    background: url("../img/t_tit (3).png") no-repeat;
    background-size: cover
}
.t_tit3 {
    background: url("../img/t_tit (2).png") no-repeat;
    background-size: cover
}
.t_tit4 {
    background: url("../img/t_tit (4).png") no-repeat;
    background-size: cover
}
.t_context {
    width: 6.12rem;
    margin: 0 auto;
    padding: 0.6rem;
    border-radius: 0.16rem;
    background: url('../img/itembg.png') no-repeat;
    background-size: 100% 100%;
    color: #A92E02;
    position: relative;
}
.t_context p {
    margin-bottom: 0.1rem;
    font-size: 0.24rem;
    line-height: 0.43rem;
}
.t_context img {
    display: block;
    width: 100%;
}
.nodata {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 2.28rem;
}
.copyright {
    position: relative;
    width: 100%;
    font-size: 0.28rem;
    padding: 0.6rem 0 0.3rem;
    color: #fcbb64;
}
.copyright p {
    text-align: center;
    line-height: 0.34rem;
    margin-top: 0.13rem;
}
.copyright_erweima {
    overflow: hidden;
    width: 1.8rem;
    height: 1.8rem;
    margin: 0.19rem auto;
    display: block;
}
.copyright_erweima img {
    display: block;
    width: 100%;
    height: 100%;
}
.gashapon_wrapper{
    position: relative;
    width:100%;
    height:8rem;
    padding-left:0.3rem;
    box-sizing: border-box;
}
.gashapon_wrapper>img:nth-of-type(1){
    width:100%;
    height:auto;
}
.gashapon_wrapper>img:nth-of-type(2){
    width:100%;
    height:auto;
    margin-top:-6rem
}
.gashapon_wrapper>img:nth-of-type(3){
    position: absolute;
    top: 2.76rem;
    left: -0.5rem;
    width:2rem;
}
.gashapon_wrapper>img:nth-of-type(4){
    position: absolute;
    top:2.32rem;
    right:-0.2rem;
    width:2rem;
}
.replaceDiv img{
    position: absolute;
    top: 1.1rem;
    right: 0.6rem;
    width: 0.88rem;
    height: 0.88rem;
    border-radius: 50%;
    border: 2px solid #9494ff;
}
.replaceDiv p:nth-of-type(1){
    position: absolute;
    top: 0.38rem;
    margin-left: -0.3rem;
    width: 100%;
    text-align: center;
    color: #FAD934;
}
.replaceDiv p:nth-of-type(2){
    position: absolute;
    top: -1.5rem;
    width: 4.2rem;
    color: #ffff;
    font-size: 0.36rem;
    text-align: center;
    margin-left: 1.25rem
}
.replaceDiv p:nth-of-type(3){
    position: absolute;
    bottom: 0.5rem;
    width: 100%;
    text-align: center;
    color: #EED2C1;
    margin-left: -0.3rem;
}
.replaceDiv p:nth-of-type(4){
    position: absolute;
    top: 5.5rem;
    width: 100%;
    text-align: center;
    margin-left: -0.3rem;
    color: #EED2C1;
}
.replaceDiv p:nth-of-type(5){
    position: absolute;
    top: 0.6rem;
    right: 0;
    width: 2.1rem;
    color: #FCEF5A;
    text-align: center;
}
.copyright p:last-child{
    width:6.08rem;
    height:0.65rem;
    background: url(https://cdn.yizhiniao.com/yzncopyright.png) no-repeat;
    background-size: contain;
    margin :0.6rem auto 0 !important;
}


