<!--收支设置-->
<!-- <div class="popup_ setIncome_Out">
    <div class="popup_content">
        <form class="popup_form" role="form" ng-submit="setIncome_Out()">
            <div class="popup_form_content">
                <div class="popup_scroll" isScroll="false">
                    <div class="popup_line">
                        <label class="form-label">收支设置:</label>
                        <div class="col-xs-10" style="line-height:28px;">
                            <label class="search_checkbox">
                                <input type="checkbox"  style="margin-right:5px;"  class="checkbox-inline labelLeft" ng-model="change_confirm" ng-change="changeStatus()">自动确认
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="popup_btn">
                <button class="btn cancel" ng-click="closePop()" type="button">取消</button>
                <button class="btn sure" type="submit">确定</button>
            </div>
        </form>
    </div>
</div> -->

<!--编辑-->
<div class="shade_ shade_editchannel">
    <div class="shade_body">
        <div class="shade_content">
            <form class="form-horizontal shade_middle_form" ng-submit="channelSure()">
                <div class="shade_form_content">
                    <!-- 内容区 -->
                    <div class="form-group">
                        <label class="col-xs-2 control-label labelLeft required">渠道名称:</label>
                        <div class="col-xs-10">
                            <input class="form-control" maxlength="12" type="text" autocomplete="off" ng-model="channelName" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label labelLeft required">渠道类型:</label>
                        <div class="col-xs-10">
                            <select class="form-control" ng-model="channelTypeId" required>
                                <option value="">请选择渠道类型</option>
                                <option value="{{x.id}}" ng-repeat="x in getChannelTypeList" ng-hide="x.id==2 || x.id == 5">{{x.channelTypeName}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">备注:</label>
                        <div class="col-xs-10">
                            <span class="input_words">{{channelDesc?channelDesc.length:0}}/100</span>
                            <textarea class="form-control fixedTextareaWidth" maxlength="100" rows="3" ng-model="channelDesc"></textarea>
                        </div>
                    </div>
                </div>
                <div class="shade_btn ">
                    <button class="btn cancel" ng-click="closePop()" type="button">取消</button>
                    <button class="btn sure" type="submit">确定</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--收支导出-->
<!--<div class="popup_ exportAllData">
    <div class="popup_content">
        <form class="popup_form" role="form" ng-submit="export_config()">
            <div class="popup_form_content">
                <div class="popup_scroll" isScroll="false">
                    <div class="popup_line">
                        <label class="form-label required">选择时间:</label>
                        <div class="col-xs-9">
                            <input class="form-control dateIcon" autocomplete="off" id="pCallTime" ng-model="derTime" placeholder="请选择导出时间段" type="text" required />
                        </div>
                    </div>
                </div>
            </div>
            <div class="popup_btn">
                <button class="btn cancel" ng-click="closePop()" type="button">取消</button>
                <button class="btn sure" type="submit">确定</button>
            </div>
        </form>
    </div>
</div>-->
<div class="common_body">
    <!--下拉选择-->
    <div class="common_tab">
        <ul class="ul_left clearfix">
            <li>
                <kindsearch class="vagueSearch" list-clicks="SearchData(n)" list-keyup="Enterkeyup(n)" list-data="{{searchData}}" select-name="{{selectInfoNameId}}" select-input="false"></kindsearch>
            </li>
            <li>
                <input type="text" class="form-control dateIcon" id="paymentsTime" size="30" ng-model="searchTime" placeholder="请选择支付时间" autocomplete="off">
            </li>
            <li class="common_tab_libtn">
                <div class="common_tab_btn" ng-if="isDaochuPay" ng-click="export_config()"><i class="icon_order_out"></i>导出收支</div>
            </li>
            <!-- <li class="common_tab_libtn">
                <div class="common_tab_btn" ng-if="isConfirmPay" ng-click="openIncome_Out()"><i class="icon_comeInout"></i>收支设置</div>
            </li> -->

        </ul>
        <ul class="ul_left clearfix searchByDrop">
            <li class="payment_type">
                <my-select list-name="类型" list-data="{{typeList}}" list-field="name" list-click="searchBytypeList(n)" list-search="false" list-sort="false"></my-select>
            </li>
            <li>
                <my-select list-name="付款方式" list-data="{{payTypeList}}" list-field="name" list-click="searchBypayTypeList(n)" list-search="false" list-sort="false"></my-select>
            </li>
            <li>
                <my-select list-name="经办人" list-data="{{screen_handle}}" list-field="teacherName" list-click="searchByHandle(n)" list-search="true" list-sort="false"></my-select>
            </li>
            <li>
                <my-select list-name="确认人" list-data="{{screen_handle}}" list-field="teacherName" list-click="searchByConfirm(n)" list-sort="false"></my-select>
            </li>
            <li>
                <label class="search_checkbox">
                    <input type="checkbox"  class="checkbox-inline labelLeft" ng-checked="unConfirm == 0" ng-click="confirmChange($event)">未收款
                 </label>
            </li>
            <li>
                <button class="common_tab_reset clickText" ng-click="onReset()">重置</button>
            </li>
        </ul>
        <ul class="ul_left clearfix" style="margin-top:10px;">
            <li>
                <span>收入总计 : </span><span class="bigTitle">￥{{(payTotal.earning | number:2) || 0.00}}</span>
            </li>
            <li>
                <span>支出总计: </span><span class="bigTitle">￥{{((0-payTotal.expenditure) | number:2) || 0.00}}</span>
            </li>

            <!--<li>
               <span>盈收 : </span><span>￥{{(payTotal.income  | number:2) || 0.00}}</span>
            </li>
            <li>
               <span>亏损 : </span><span>￥{{(0-payTotal.loss  | number:2) || 0.00}}</span>
            </li>-->
        </ul>
    </div>

    <div class="common_content">
        <div class="table-responsivecharge_table">
            <table class="table table-hover abnormal">
                <thead my-id="payment_head" my-thead="{{nameListThead}}" list-clicks="sortCllict(data)" che-clicks="sel_allFun(data)"></thead>
                <tbody class="demo_tbody" ng-if="getPaymentDetailList==''">
                    <tr>
                        <td class="textAlignCenter" colspan="11">没有相关数据</td>
                    </tr>
                </tbody>
                <tbody class="demo_tbody" ng-if="getPaymentDetailList">
                    <tr ng-repeat="x in getPaymentDetailList">
                        <td class="textAlignCenter" ng-click="sel_singleFun(x,select_params,'orderId')"><input type="checkbox" name="sel_order" ng-checked="x.hasChecked" /></td>
                        <td class="clickText" ng-click="goCommonPop('order-info', 'orderInfo','960px',{data:x,page:'收支明细'})" title="{{x.externalOrderId}}">{{x.externalOrderId}}</td>
                        <td>{{x.orderTypeName}}</td>
                        <td>{{$yznDateFormatYMdHm(x.paymentTime)}}</td>
                        <td title="{{x.studentInfo.name}}">{{x.studentInfo.name}}<span ng-class="{'1':'icon_male','0':'icon_female'}[x.studentInfo.sex]"></span></td>
                        <td class="textAlignRt">￥{{x.paymentMoney}}</td>
                        <td>{{x.paymentMode}}</td>
                        <!--<td title="{{x.remark}}">{{x.remark}}</td>-->
                        <td>{{x.handlerInfo.teacherName}}</td>
                        <td>{{x.confirmor}}</td>
                        <td>{{x.checkStatus==0?"未收款":"已收款"}}</td>
                        <td class="clickText textAlignCenter"><span ng-if="isConfirmPay" ng-click="confirm_order(x)">{{x.checkStatus==0?"确认收款":""}}</span></td>
                    </tr>
                </tbody>
            </table>
            <div class="pagitionDiv">
                <div class="M-left">
                    <div class="M-button">已选中 <span class="selected">{{select_params.length}}</span> 个</div>
                    <div class="M-button common_tab_btn fontRed_BgWhite" ng-click="patchConfirm()">批量确认</div>
                </div>
                <div class="M-box3"></div>
            </div>
        </div>
    </div>
</div>